<!DOCTYPE html>
<html lang="en">

<body>

<div class="pageheadline">

<div class="container">
<div class="row">
<div class="span6">
 
<h2>about us <span>lorem ipsum dolor</span></h2>

</div>


<div class="span6">
 
<ul class="ch-grid1">
<li>
<div class="ch-item ch-img-1">

</div>
</li>

<li>
<div class="ch-item ch-img-2">

</div>
</li>

<li>
<div class="ch-item ch-img-3">

</div>
</li>
</ul>
</div>



</div></div>

</div>



<div class="container">
<div class="row">

<div class="span12">
<div class="columnheadlineabout">
<h4><span>Who we are</span></h4>
</div>
</div>


<div class="span8">

<h5>- Lorem ipsum dolor sit amet -</h5>
<p>
Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 

</p>
<p class="uppercase">
Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse 
</p>


</div><!--/span8 end--> 


<div class="span4">

<div class="staffimage">
<img src="/assets/circle3.png" alt="">
</div>

</div><!--/span4 end--> 

</div><!--/row end--> 


<div class="row">

<div class="span12 aboutquote">

<div class="row">
<div class="span3">

<h2>Dolor sit<br> amet</h2>

</div><!--/span3 end--> 


<div class="span9">


<div class="border">
<p>
Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
<br>
Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
</p>
</div>

</div><!--/span4 end--> 

</div><!--/row end--> 

</div><!--/span12 end--> 

</div><!--/row end--> 



<div class="row">
<div class="span12">
<div class="columnheadlineabout1">
<h4><span>Staff</span></h4>
</div></div></div>


<div class="row"><!--one column--> 
<div class="staff paddingbottom1 span12">

<div class="row">

<div class="span2">
<img src="/assets/circle3.png" alt="">
<section class="icons">  
   <a href=""><div class="item"><div><i class="icontwitter"></i></div></div></a>   
  <a href=""><div class="item"><div><i class="iconfacebook"></i></div></div></a>       
  <a href=""><div class="item"><div><i class="icongoogle"></i></div></div></a>  
</section> 
</div>

<div class="span10">
<h5>Jessica Roberts <span>- Specialist Ayurveda - </span></h5>

<p>
Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisi
</p>

</div><!--/span10 end-->
</div><!--/row end-->

</div><!--/staff end--> 
</div><!--/row end one column end--> 




<div class="row"><!--one column--> 
<div class="staff paddingbottom1 span12">

<div class="row">

<div class="span2">
<img src="/assets/circle5.png" alt="">
<section class="icons">  
   <a href=""><div class="item"><div><i class="icontwitter"></i></div></div></a>   
  <a href=""><div class="item"><div><i class="iconfacebook"></i></div></div></a>       
  <a href=""><div class="item"><div><i class="icongoogle"></i></div></div></a>  
</section> 
</div>

<div class="span10">
<h5>Jessica Roberts <span>- Specialist Ayurveda - </span></h5>

<p>
Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisi
</p>

</div><!--/span10 end-->
</div><!--/row end-->

</div><!--/staff end--> 
</div><!--/row end one column end--> 



<div class="row"><!--one column--> 
<div class="staff paddingbottom1 stafflast span12">

<div class="row">

<div class="span2">
<img src="/assets/circle4.png" alt="">
<section class="icons">  
   <a href=""><div class="item"><div><i class="icontwitter"></i></div></div></a>   
  <a href=""><div class="item"><div><i class="iconfacebook"></i></div></div></a>       
  <a href=""><div class="item"><div><i class="icongoogle"></i></div></div></a>  
</section> 
</div>

<div class="span10">
<h5>Jessica Roberts <span>- Specialist Ayurveda - </span></h5>

<p>
Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisi
</p>

</div><!--/span10 end-->
</div><!--/row end-->

</div><!--/staff end--> 
</div><!--/row end one column end--> 

 </div><!--/container end--> 
		

</body>
</html>
