<!DOCTYPE html>
<html lang="en">

<body>


<div class="pageheadline">

<div class="container">
<div class="row">
<div class="span6">
 
<h2>blog page <span>lorem ipsum dolor</span></h2>

</div>


<div class="span6">
 
<ul class="ch-grid1">
<li>
<div class="ch-item ch-img-1">

</div>
</li>

<li>
<div class="ch-item ch-img-2">

</div>
</li>

<li>
<div class="ch-item ch-img-3">

</div>
</li>
</ul>
</div>



</div></div>

</div>



<div class="container">
<div class="row">


<div class="span8"><!--left--> 

<div class="columnheadlineabout2">
<h4><span>Recent news</span></h4>
</div>


<article class="blogpost">
<h4>Lorem ipsum dolor sit amet</h4>

<div class="blogimage">
<div class="blogdate">
<p>14 <br>may <br>2013</p>

</div>
</div>

<div class="blogmeta">
<p>AUTOR: <span>Roberto Evans</span></p>
<p>tags: <span>spa, wellness, beauty</span></p>
<p class="blogmetalast">comments: <span>3</span></p>
</div>

<p >
Per et doctus explicari, mei cu wisi insolens. In vim minim inimicus contentiones, te iusto officiis vis. Vix ubique tempor te, ne vim suas mollis vidisse, ea sed erant impedit appetere. An duo soluta recusabo, alienum eleifend no sed, nec urbanitas percipitur eu.
</p>
<p class="blogtext">
Per et doctus explicari, mei cu wisi insolens. In vim minim inimicus contentiones, te iusto officiis vis. Vix ubique tempor te, ne vim suas mollis vidisse, ea sed erant impedit appetere. An duo soluta recusabo, alienum eleifend no sed, nec urbanitas percipitur eu.
Per et doctus explicari, mei cu wisi insolens. In vim minim inimicus contentiones, te iusto officiis vis. Vix ubique tempor te, ne vim suas mollis vidisse, ea sed erant impedit appetere. An duo soluta recusabo, alienum eleifend no sed, nec urbanitas percipitur eu.

</p>
</article>

<h4 class="commentsheadline">Comments 3</h4>



<ul id="list" class="image-grid">



<li data-id="id-1" class="everybody therapist"><!-- one picture-->


<div class="row">
<div class="staff span8">

<div class="row">

<div class="span2">

<img src="/assets/circle3.png" alt="">

</div>

<div class="span6 comments">
<h5>Jessica Roberts <span>15 min ago</span></h5>

<p>
Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
Duis autem vel eum iriure esse molestie consequat, vel illum dolore eu feugiat
</p><a href="">reply</a>

</div><!--/span10 end-->
</div><!--/row end-->

</div><!--/staff end--> 
</div><!--/row end --> 


</li><!-- one picture end-->



<li data-id="id-2" class="everybody specialist"><!-- one picture-->


<div class="row">
<div class="staff span8 comments ">




<div class="row commentsright">

<div class="span2">

<img src="/assets/circle3.png" alt="">
</div>

<div class="span4">
<h5>Jessica Roberts <span>20 min ago </span></h5>

<p>
Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
</p><a href="">reply</a>

</div><!--/span6 end-->
</div><!--/row end-->



</div><!--/staff end--> 
</div><!--/row end --> 


</li><!-- one picture end-->




<li data-id="id-3" class="everybody therapist"><!-- one picture-->


<div class="row">
<div class="staff span8 comments">

<div class="row">

<div class="span2">

<img src="/assets/circle3.png" alt="">

</div>

<div class="span6">
<h5>Jessica Roberts <span>one hour ago </span></h5>

<p>
Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat
</p><a href="">reply</a>

</div><!--/span10 end-->
</div><!--/row end-->

</div><!--/staff end--> 
</div><!--/row end --> 


</li><!-- one picture end-->


</ul>



<!--/comment-form-->
<div> 

<h4 class="sendmessage">Send message</h4>

<div>
<form method="post" action="sendEmail.php">
<div>
	
<div id="main">

<div class="comment1">
<p><input type="text" placeholder="name..." name="name" id="name" /></p> 
</div>

<div class="comment2">
<p><input type="text" placeholder="e-mail..." name="email" id="email" /></p> 
</div>




<div class="textarea">
<p><textarea placeholder="message..." name="comments" id="comments" 
rows="14" cols="5"></textarea></p>
</div>

<div class="buttoncontact buttoncomment">	
<p><input type="submit" name="submit" id="submit" value="Post comment"/></p>
</div>

<ul id="response"></ul>

        
</div><!--end main -->


</div>
</form> 
</div>
</div>
<!--/comment-form-end--> 





</div><!--span8 left end--> 


<aside class="span4"><!--right--> 


<div class="headlinesidebar">
<h4><span>Categories</span></h4>
</div>

<ul class="sidebarabout1">
<li>Lorem ipsum dolor</li>
<li>Consectetuer adipiscing elit</li>
<li><span>Sed diam nonummy</span></li>
<li>Lorem ipsum dolor</li>
<li>Consectetuer adipiscing elit</li>
<li>Lorem ipsum dolor</li>
<li>Consectetuer adipiscing elit</li>
</ul>



<div class="row" >
<div class="span4" >
<ul id="myTab" class="tabs2">
<li class="active"><a href="#home">Recent news</a></li>
<li><a href="#profile">Top news</a></li>
<li><a href="#messages">Archive</a></li>
</ul>
 </div> </div>
 
<div class="tab-content">
<div class="tab-pane active" id="home">


<ul class="sidebarabout1">
<li>Lorem ipsum dolor</li>

<li><span>Sed diam nonummy</span></li>
<li>Lorem ipsum dolor</li>
<li>Consectetuer adipiscing elit</li>
<li>Lorem ipsum dolor</li>
<li>Consectetuer adipiscing elit</li>
</ul>

</div>
<div class="tab-pane" id="profile">

<ul class="sidebarabout1">
<li>Consectetuer adipiscing elit</li>
<li><span>Sed diam nonummy</span></li>
<li>Lorem ipsum dolor</li>
<li>Consectetuer adipiscing elit</li>
<li>Lorem ipsum dolor</li>
<li>Consectetuer adipiscing elit</li>
<li>Lorem ipsum dolor</li>
<li>Consectetuer adipiscing elit</li>
</ul>

</div>


<div class="tab-pane" id="messages">


<ul class="sidebarabout1">
<li>Lorem ipsum dolor</li>
<li>Consectetuer adipiscing elit</li>
<li><span>Sed diam nonummy</span></li>
<li>Lorem ipsum dolor</li>
<li>Consectetuer adipiscing elit</li>
</ul>

</div>


</div><!--/tab end-->
 



</aside><!--/span4 rightend--> 



</div><!--/row end--> 


 </div><!--/container end--> 


<footer class="footer">

<div class="container">
<div class="row">



<div class="span4">

<div class="footerheadline">
<h4>Testimonials</h4>
</div>

<div class="testimonial">
<p class="testimonialbg">
"Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut 
laoreet dolore magna. "
</p>
<p  class="testimonialname">John Doe</p>
</div>


<p class="testimonialbg">
"Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut 
laoreet dolore magna. "
</p>
<p  class="testimonialname">John Doe</p>

</div>


<div class="span4">

<div class="footerheadline">
<h4>Latest Tweets</h4>
</div>

<div class="twitterwrapper">
<img class="twitterbird" src="/assets/twitterbird.png" alt=""/>
<div class="twitter" id="example1"></div>
</div>


</div>

<div class="span4">

<div class="footerheadline">
<h4>Tag Cloud</h4>
</div>

<p class="blogtags">
<span><a href="#">Beauty</a></span>
<span><a href="#">Spa</a></span>	
<span><a href="#">Wellness</a></span>
<span><a href="#">Terapy</a></span>
<span><a href="#">Massage</a></span>	
<span><a href="#">Paraffin</a></span>
<span><a href="#">Beauty</a></span>
<span><a href="#">Spa</a></span>	
<span><a href="#">Wellness</a></span>				
</p>

<div class="footerheadline1">
<h4>Newsletters</h4>
<p>Lorem ipsum dolor sit amet</p>
</div>


<div class="subscribefieldwrapper"><!--/subscribe-form--> 
<form method="post" action="submit.php">
<div>
	
<div id="main1">
<p>
<input type="text" placeholder="enter your email..." name="email" id="email1" 

class="subscribefield" />
</p>
<p>
<input type="submit"  name="submit"  id="subscribe" value="Send" class="buttonsubscribe"/>
</p>
<ul id="response1"></ul>
   

</div></div>
</form>
</div><!--/subscribe-form-end--> 

</div>

</div> </div> 
</footer> 


<div class="bottom"> 

 <div class="container"> 
 <div class="row"> 
<section class="icons span4">  
   <a href=""><div class="item"><div><i class="icontwitter"></i></div></div></a>   
  <a href="http://www.facebook.com/pages/Rayoflight/408688349185439"><div class="item"><div><i class="iconfacebook"></i></div></div></a>       
  <a href=""><div class="item"><div><i class="icongoogle"></i></div></div></a>  
 <a href=""><div class="item"><div><i class="iconrss"></i></div></div></a>  
 <a href=""><div class="item"><div><i class="iconskype"></i></div></div></a>  
  <a href=""><div class="item"><div><i class="iconyoutube"></i></div></div></a>  
 
</section> 


<section class="span4 copyright">  
<p>&copy; 2013 - 2014 <a href="http://themeforest.net/item/-lotus-spa-wellness-html-responsive-template/4635420?ref=rayoflightt">Lotus - Spa & Wellness HTML Responsive Template</a> All rights reserved.</p>
</section> 


<section class="span4">  
<a href="javascript:scrollToTop()" title="top of page"><div class="topofpage"></div></a>
</section> 

 </div> </div>


</div> 
		

</body>
</html>
