<!DOCTYPE html>
<html lang="en">

<body>

<div class="pageheadline">

<div class="container">
<div class="row">
<div class="span6">
 
<h2>blog  <span>lorem ipsum dolor</span></h2>

</div>


<div class="span6">
 
<ul class="ch-grid1">
<li>
<div class="ch-item ch-img-1">

</div>
</li>

<li>
<div class="ch-item ch-img-2">

</div>
</li>

<li>
<div class="ch-item ch-img-3">

</div>
</li>
</ul>
</div>



</div></div>

</div>



<div class="container">
<div class="row">


<div class="span8"><!--left--> 

<div class="columnheadlineabout2">
<h4><span>Recent news</span></h4>
</div>


<article class="blogpost">
<h4>Lorem ipsum dolor sit amet</h4>

<div class="blogimage">
<div class="blogdate">
<p>14 <br>may <br>2013</p>

</div>
</div>

<div class="blogmeta">
<p>AUTOR: <span>Roberto Evans</span></p>
<p>tags: <span>spa, wellness, beauty</span></p>
<p class="blogmetalast">comments: <span>3</span></p>
</div>

<p class="blogtext">
Per et doctus explicari, mei cu wisi insolens. In vim minim inimicus contentiones, te iusto officiis vis. Vix ubique tempor te, ne vim suas mollis vidisse, ea sed erant impedit appetere. An duo soluta recusabo, alienum eleifend no sed, nec urbanitas percipitur eu.
</p>

</article>




<article class="blogpost">
<h4>Lorem ipsum dolor sit amet</h4>

<div class="blogimage">
<div class="blogdate">
<p>14 <br>may <br>2013</p>

</div>
</div>

<div class="blogmeta">
<p>AUTOR: <span>Roberto Evans</span></p>
<p>tags: <span>spa, wellness, beauty</span></p>
<p class="blogmetalast">comments: <span>3</span></p>
</div>

<p class="blogtext">
Per et doctus explicari, mei cu wisi insolens. In vim minim inimicus contentiones, te iusto officiis vis. Vix ubique tempor te, ne vim suas mollis vidisse, ea sed erant impedit appetere. An duo soluta recusabo, alienum eleifend no sed, nec urbanitas percipitur eu.
</p>

</article>


<div class="span8">
<div class="pagination">
<p>Page 1 of 3</p>
<a href="">1</a>
<a href="">2</a>
<a href="">3</a>
</div>
</div>



</div><!--span8 left end--> 




<aside class="span4"><!--right--> 


<div class="headlinesidebar">
<h4><span>Categories</span></h4>
</div>

<ul class="sidebarabout1">
<li>Lorem ipsum dolor</li>
<li>Consectetuer adipiscing elit</li>
<li><span>Sed diam nonummy</span></li>
<li>Lorem ipsum dolor</li>
<li>Consectetuer adipiscing elit</li>
<li>Lorem ipsum dolor</li>
<li>Consectetuer adipiscing elit</li>
</ul>

<div class="row" >
<div class="span4" >
<ul id="myTab" class="tabs2">
<li class="active"><a href="#home">Recent news</a></li>
<li><a href="#profile">Top news</a></li>
<li><a href="#messages">Archive</a></li>
</ul>
 </div> </div>


<div class="tab-content">
<div class="tab-pane active" id="home">


<ul class="sidebarabout1">
<li>Lorem ipsum dolor</li>

<li><span>Sed diam nonummy</span></li>
<li>Lorem ipsum dolor</li>
<li>Consectetuer adipiscing elit</li>
<li>Lorem ipsum dolor</li>
<li>Consectetuer adipiscing elit</li>
</ul>

</div>
<div class="tab-pane" id="profile">

<ul class="sidebarabout1">
<li>Consectetuer adipiscing elit</li>
<li><span>Sed diam nonummy</span></li>
<li>Lorem ipsum dolor</li>
<li>Consectetuer adipiscing elit</li>
<li>Lorem ipsum dolor</li>
<li>Consectetuer adipiscing elit</li>
<li>Lorem ipsum dolor</li>
<li>Consectetuer adipiscing elit</li>
</ul>

</div>


<div class="tab-pane" id="messages">


<ul class="sidebarabout1">
<li>Lorem ipsum dolor</li>
<li>Consectetuer adipiscing elit</li>
<li><span>Sed diam nonummy</span></li>
<li>Lorem ipsum dolor</li>
<li>Consectetuer adipiscing elit</li>
</ul>

</div>


</div><!--/tab end-->
 


</aside><!--/span4 rightend--> 



</div><!--/row end--> 



 </div><!--/container end--> 


</body>
</html>
