<!DOCTYPE html>
<html lang="en">

<body>

<div class="pageheadline">

<div class="container">
<div class="row">
<div class="span6">
 
<h2>contact us <span>lorem ipsum dolor</span></h2>

</div>


<div class="span6">
 
<ul class="ch-grid1">
<li>
<div class="ch-item ch-img-1">

</div>
</li>

<li>
<div class="ch-item ch-img-2">

</div>
</li>

<li>
<div class="ch-item ch-img-3">

</div>
</li>
</ul>
</div>



</div></div>

</div>



<div class="container">
<div class="row">
<div class=" borderbottom span12">

<div class="row">
<div class="span8"><!--left--> 


<div class="">


<div class="columnheadlineabout">
<h4><span>Contact us</span></h4>
</div>


<h5>- Lorem ipsum dolor sit amet -</h5>
<p>
Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea. 

</p>


 <!-- comment-form -->
               <div class="row">
                 <form method="post" action="sendEmail.php">
                   <div>
	                 <div id="main">
                       <div class="span8">
                         <div class="comment1">
                           <p><input type="text" placeholder="Your name" name="name" id="name" class="commentfield" />
						   </p> 
						 </div>
                           <div class="comment2">
                             <p> <input type="text" placeholder="Your e-mail address" name="email" id="email" class="commentfield" />
							 </p> 
						   </div>
                         <div class="comment3">
                           <p> <input type="text" placeholder="Subject" name="subject" id="subject" class="commentfield" /> 
						   </p> 
						 </div>
                       </div>
                       <div class="span8 textarea">
                         <p><textarea name="comments" placeholder="Your message" id="comments" rows="12" cols="5" class="textarea"></textarea>
						 </p>
                         <div class="buttoncontact">
                           <p><input type="submit"  name="submit"  class="buttoncontact" id="submit" value="send message"/>
                           </p>
						 </div>
                       </div>
                       <ul class="span8" id="response"></ul> 
                     </div>
				   </div>
                 </form> 
			   </div>
			
             <!-- comment-form-end --> 


</div><!--leftabout end--> 


</div><!--span8 left end--> 


<aside class="span4"><!--right--> 



<div class="headlinesidebar">
<h4><span>Contact info</span></h4>
</div>

<div class="sidebarabout3">

<ul>

<li>
<img src="/assets/iconaddress.png" alt="">
<p>225 West Madison Street<br>
Phoneix, AZ 85003, United States</p>
</li>

<li>
<img src="/assets/iconphone.png" alt="">
<p>+99 861 440 210</p>
</li>

<li>
<img src="/assets/iconmail.png" alt="">

<a href="mailto:someone@example.com?Subject=Hello%20again">
<p class="highlight">someone@example.com</p></a>

</li>

</ul>



<div class="reservation">
<a href="">Reservation <span>+99 5855 8458</span></a>
</div>

</div><!--/sidebarabout3 end--> 


<div class="headlinesidebar">
<h4><span>Business hours</span></h4>
</div>


<ul class="sidebarcontact">
<li>Monday - Friday <span> 8am-8pm</span></li>
<li>Saturday and Sunday: <span> 8am-10pm</span></li>
</ul>



</aside><!--/span4 rightend--> 




</div><!--/row end--> 
</div><!--/borderbottom end--> 
</div><!--/row end--> 


<div class="row">
<div class="span12">


<div class="wrapper100percent map">
<div class="mapoverlay" onClick="style.pointerEvents='none'"></div>
<iframe src="https://maps.google.com/maps?sll=42.3232039,-71.1423464&amp;sspn=0.0974788,0.1757965&amp;q=new+yourk+near+Brookline,+MA&amp;ie=UTF8&amp;hq=new+york&amp;hnear=Brookline,+Norfolk+County,+Massachusetts&amp;t=m&amp;ll=42.343748,-71.142702&amp;spn=0.081827,0.222714&amp;output=embed">
</iframe>
</div>

</div><!--/span12 end--> 
</div><!--/row end--> 


 </div><!--/container end--> 
	

</body>
</html>
