<!DOCTYPE html>
<html lang="en">

<body>

  <div class="pageheadline">
      <div class="container">
          <div class="row">
              <div class="col-sm-6">               
                  <h2>contact us <span>lorem ipsum dolor</span></h2>
              </div>

              <div class="col-sm-6">               
                  <ul class="ch-grid1">
                    <li>
                        <div class="ch-item ch-img-1"></div>
                    </li>
                    <li>
                        <div class="ch-item ch-img-2"></div>
                    </li>
                    <li>
                        <div class="ch-item ch-img-3"></div>
                    </li>
                  </ul>
              </div>

          </div>
      </div>
  </div>



  <div class="container">
      <div class="row">
          <div class=" borderbottom col-sm-12">
              <div class="row">
                  <div class="col-sm-8"><!--left--> 
                      <div class="text-justify">
                          <div class="columnheadlineabout">
                              <h4><span>Contact us</span></h4>
                          </div>                          
                          <p>Leela Eco Spa and studio is your urban retreat away from the hustle and bustle of Calgary life. We have a full offering of day Spa Services, Yoga Classes, Massage Therapy and Natural Medicine. In the heart of Bridgeland, Leela is easily accessible from downtown and throughout the city.</p>
                       <!-- comment-form -->
                       <div class="row">
                          <div class="col-sm-12">
                            <img src="/assets/about/leelafamilly.jpg" alt="">
                          </div>
                       </div>
                       
        			
                     <!-- comment-form-end --> 

                      </div><!--leftabout end-->
                  </div><!--col-sm-8 left end--> 


                  <aside class="col-sm-4"><!--right--> 
                      <div class="headlinesidebar">
                          <h4><span>Contact info</span></h4>
                      </div>
                      <div class="sidebarabout3">
                          <ul>
                              <li>
                                <img src="/assets/iconaddress.png" alt="">
                                <p>849 1 Avenue NE,<br>
                                  Calgary, AB, T2E0C3</p>
                              </li>
                              <li>
                                <img src="/assets/iconphone.png" alt="">
                                <p>+99 403 258 3268</p>
                              </li>
                              <li>
                                <img src="/assets/iconmail.png" alt="">
                                <a href="mailto:info@leelaecospa.com?Subject=Hello%20leelaeco">
                                <p class="highlight">info@leelaecospa.com</p></a>
                              </li>
                          </ul>
                          <!-- <div class="reservation">
                              <a href="">Reservation <span>+99 5855 8458</span></a>
                          </div> -->
                      </div><!--/sidebarabout3 end--> 
                      <div class="underline_dotted1 mar_top_m1">
                          <div class="headlinesidebar">
                              <h4><span>Business hours</span></h4>
                          </div>
                          <ul class="sidebarcontact">
                            <li>Monday - Friday : <span> 9am - 8:30pm</span></li>
                            <li>Saturday - Sunday : <span> 9:30am - 5pm</span></li>
                          </ul>
                      </div>
                      
                      <div class="mar_top_m1">
                          <div class="headlinesidebar">
                              <h4><span>Get in touch with us</span></h4>
                          </div>
                          <div class="row">
                         <form method="post" action="">
                    
                           <div id="main">
                               <div class="col-sm-12">
                                 <div class="comment3">
                                   <p><input type="text" placeholder="Your name" name="name" id="name" class="commentfield" />
                                   </p> 
                                 </div>
                                  <div class="comment3">
                                     <p> <input type="email" placeholder="Your e-mail address" name="email" id="email" class="commentfield" />
                                     </p> 
                                  </div>
                                 <div class="comment3">
                                   <p> <input type="phone" placeholder="Phone" name="phone" id="phone" class="commentfield" /> 
                                   </p> 
                                 </div>
                               </div>
                               <div class="col-sm-12 textarea">
                                 <p><textarea name="comments" placeholder="Your message" id="comments" rows="2"  class="textarea"></textarea></p>
                                 <div class="buttoncontact">
                                   <p><input type="submit"  name="submit"  class="buttoncontact" id="submit" value="send message"/></p>
                                </div>
                               </div>
                               <ul class="col-sm-8" id="response"></ul> 
                             </div>
                   
                         </form> 
                       </div>
                      </div>
                  </aside><!--/col-sm-4 rightend-->
              </div><!--/row end--> 
          </div><!--/borderbottom end--> 
      </div><!--/row end--> 


      <div class="row">
          <div class="col-sm-12">
              <div class="wrapper100percent map">
              <div class="mapoverlay" onClick="style.pointerEvents='none'"></div>
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2507.995553553255!2d-114.043208!3d51.0531699!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5371655211bab347%3A0x79978954a0118fd3!2s849+1+Ave+NE%2C+Calgary%2C+AB+T2E+0C4%2C+Canada!5e0!3m2!1sen!2sin!4v1423304275727" width="100%" frameborder="0" style="border:0"></iframe>
              <p><b>Ample street parking is available on 1st Ave NE – free for 2 hours!</b></p>
              </div>
          </div><!--/col-sm-12 end--> 
      </div><!--/row end--> 


   </div><!--/container end--> 
  	

</body>
</html>
