<!DOCTYPE html>
<html lang="en">

<body>

<div class="pageheadline">
	<div class="container">
		<div class="row">
			<div class="span6"> 
				<h2>Spa <span>  Esthetics</span></h2>
			</div>

			<div class="span6"> 
				<ul class="ch-grid1">
					<li>
						<div class="ch-item ch-img-1"></div>
					</li>
					<li>
						<div class="ch-item ch-img-2"></div>
					</li>
					<li>
						<div class="ch-item ch-img-3"></div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>



<div class="container">
	<div class="row">
		<div class="span12">
			<div class="columnheadlineabout2">
				<h4><span>Services</span></h4>
				<p>Celebrate life & pamper yourself through our carefully crafted esthetics services. We are also able to provide couples esthetics services in our couple’s room.</p>
				<p>All our esthetics services use <i>Eminence Organics</i> products. For first time clients, our esthetician will hold a consultation with you, and based on your skin type, use the best Eminence product suited for your needs.</p>
			</div>
		</div>
	</div>
</div>



<div class="container">
	<div class="row"><!-- tabs-->
		<div class="containertabs1"><!--/tab container-->
			<ul class="tabs1 span12" id="myTab">
				<li class="active"><a href="#massage_wellness">Wellness</a></li>
				<li><a href="#massage_spa">Spa</a></li>
				<li><a href="#massage_daily">Daily</a></li>
			</ul>
		<div class="tab-content span12">

		<div class="tab-pane active" id="massage_wellness">			
			<div class="row"><!--/one row-->
				<div class="span12  tabinside">
					<h4>Ayurvedic massage</h4>
					<div class="row">

						<div class="span3">
						<img src="/assets/special1.jpg" alt="">
						</div>

						<div class="span7">
							<h5>- FACIAL -</h5>
							<p>
							A deep cleansing of the skin using only completely organic products by the high end organic skin care line Eminence. Our estheticians will perform a skin analysis and customize products to suit your skin type. This facial includes cleansing, exfoliating, steaming/hot towels and a mask to hydrate and nourish your skin. A light massage follows which will leave your complexion glowing and your mind peaceful.
							</p>
							<div class="buypresent2text1">
							</div> <!--/buypresenttext end--> 

						</div><!--/span7 end-->

						<div class="span2">

							<div class="row">
								<div class="span2  services">
									<div class="serviceprice">
										<a href="">90$</a>
									</div>
									<div class=" servicehour">
										<p>60min</p>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="span2  services">
									<div class="serviceprice">
										<a href="">130$</a>
									</div>
									<div class=" servicehour">
										<p>90min</p>
									</div>
								</div>
							</div>							

						</div><!--/span2 end-->

					</div><!--/row end-->

				</div><!--/span12 end--> 
			</div><!--/row end --> 
			<!--/one row end-->


			<div class="row"><!--/one row-->
				<div class=" span12 tabinside">
				<h4>Reiki massage</h4>
					<div class="row">
						<div class="span3">
							<img src="/assets/special2.jpg" alt="">
						</div>
						<div class="span7">
							<h5>- BODY SCRUB -</h5>
							<p>
							Enjoy our luxury body treatment that includes full body exfoliation to restore your natural glow followed by a luxurious body lotion application. Carefully balanced to deeply cleanse and nourish, our body polishes and leave your skin looking conditioned and smooth.
							</p>

							<div class="buypresent2text1">
							</div> <!--/buypresenttext end--> 
						</div><!--/span7 end-->

						<div class="span2">

							<div class="row">
								<div class="span2  services">
									<div class="serviceprice">
										<a href="">90$</a>
									</div>
									<div class=" servicehour">
										<p>60min</p>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="span2  services">
									<div class="serviceprice">
										<a href="">130$</a>
									</div>
									<div class=" servicehour">
										<p>90min</p>
									</div>
								</div>
							</div>							

						</div><!--/span2 end-->

					</div><!--/row end-->

				</div><!--/span12 end--> 
			</div><!--/row end --> 
			<!--/one row end-->


			<div class="row"><!--/one row-->
				<div class=" span12 tabinsidelast">
					<h4>Ayurvedic massage</h4>
					<div class="row">

						<div class="span3">
							<img src="/assets/special3.jpg" alt="">
						</div>

						<div class="span7">
							<h5>- BODY WRAP -</h5>
							<p>
							A decadent nourishing treatment! A light exfoliation will be performed that will polish away any dull skin. Followed by a layering of one of the ultra rich Eminence body lotions and an Eminence body masque. You then will be wrapped up with a full length warming pad to deliver the full nourishing benefits of the body wrap.
							</p>
							<div class="buypresent2text1">
							</div> <!--/buypresenttext end--> 
						</div><!--/span7 end-->

						<div class="span2">							

							<div class="row">
								<div class="span2  services">
									<div class="serviceprice">
										<a href="">90$</a>
									</div>
									<div class=" servicehour">
										<p>60min</p>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="span2  services">
									<div class="serviceprice">
										<a href="">130$</a>
									</div>
									<div class=" servicehour">
										<p>90min</p>
									</div>
								</div>
							</div>

						</div><!--/span2 end-->

					</div><!--/row end-->

				</div><!--/span12 end--> 
			</div><!--/row end --> 
			<!--/one row end-->

		</div><!-- one tab end-->

		<div class="tab-pane" id="massage_spa">

			<div class="row"><!--/one row-->

				<div class=" span12 tabinside">

				<h4>Reiki massage</h4>

					<div class="row">

						<div class="span3">
							<img src="/assets/special1.jpg" alt="">	
						</div>
						<div class="span7">
							<h5>- MANICURE -</h5>
							<p>
							Our relaxing manicure treatment will leave you feeling positive and pampered. It includes conditioning in a warm hand soak, filing, shaping of your nails, pushing and clipping of the nonliving cuticle tissue. Using oils to buff the nail plate to a beautiful natural shine will help nourish your nails and cuticles. Followed by a relaxing hand and arm message with your choice of massage lotion. If desired, you can finish with a polish application of Zoya nail polish.
							</p>
							<div class="buypresent2text1">
							</div> <!--/buypresenttext end-->
						</div><!--/span7 end-->

						<div class="span2">							

							<div class="row">
								<div class="span2  services">
									<div class="serviceprice">
										<a href="">105$</a>
									</div>
									<div class=" servicehour">
										<p>60min</p>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="span2  services">
									<div class="serviceprice">
										<a href="">145$</a>
									</div>
									<div class=" servicehour">
										<p>90min</p>
									</div>
								</div>
							</div>

						</div><!--/span2 end-->

					</div><!--/row end-->
				</div><!--/span12 end--> 
			</div><!--/row end --> 
			<!--/one row end-->


		<div class="row"><!--/one row-->
			<div class=" span12 tabinside">
			<h4>Reiki massage</h4>
				<div class="row">
					<div class="span3">
					<img src="/assets/special2.jpg" alt="">
					</div>

					<div class="span7">
						<h5>- PEDICURE -</h5>
						<p>
						This soothing pedicure will nourish and ground you. Including full nail care, callous treatment and massage. Please bring a pair of sandals with you to this treatment, Leela is an eco spa and as such does not provide disposable footwear.
						</p>

						<div class="buypresent2text1">
						</div> <!--/buypresenttext end--> 
					</div><!--/span7 end-->

					<div class="span2">

						<div class="row">
							<div class="span2  services">
								<div class="serviceprice">
									<a href="">180$</a>
								</div>
								<div class=" servicehour">
									<p>60min</p>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="span2  services">
								<div class="serviceprice">
									<a href="">260$</a>
								</div>
								<div class=" servicehour">
									<p>90min</p>
								</div>
							</div>
						</div>

					</div><!--/span2 end-->

				</div><!--/row end-->

			</div><!--/span12 end--> 
		</div><!--/row end --> 
		<!--/one row end-->



		<div class="row"><!--/one row-->

			<div class=" span12 tabinsidelast">
			<h4>Ayurvedic massage</h4>
				<div class="row">

					<div class="span3">
						<img src="/assets/special3.jpg" alt="">
					</div>

					<div class="span7">
						<h5>- RED LIGHT THERAPY -</h5>
						<p>
						Visible red light penetrates 8-10mm into the skin to boost circulation, stimulate collagen and elastin production, repair and energize damaged cells, enhance the skins natural ability to heal without medication. This treatment is suitable for all skin types.
						</p>
						<div class="buypresent2text1">
						</div> <!--/buypresenttext end--> 
					</div><!--/span7 end-->

					<div class="span2">						

						<div class="row">
							<div class="span2  services">
								<div class="serviceprice">
									<a href="">100$</a>
								</div>
								<div class=" servicehour">
									<p>60min</p>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="span2  services">
								<div class="serviceprice">
									<a href="">135$</a>
								</div>
								<div class=" servicehour">
									<p>90min</p>
								</div>
							</div>
						</div>

					</div><!--/span2 end-->

				</div><!--/row end-->

			</div><!--/span12 end--> 
		</div><!--/row end --> 
		<!--/one row end-->


		</div><!-- one tab end-->


		<div class="tab-pane" id="massage_daily">

			<div class="row"><!--/one row-->
				<div class=" span12 tabinside">
				<h4>Ayurvedic massage</h4>
					<div class="row">
						<div class="span3">
							<img src="/assets/special1.jpg" alt="">
						</div>

						<div class="span7">
							<h5>- GREEN / YELLOW LIGHT THERAPY -</h5>
							<p>
							Pulsing green and yellow light activates oxygen to destroy P.acnes bacteria common in acne and rosacea. This therapy reduces inflammation associated with acne and rosacea.
							</p>
							<div class="buypresent2text1">
							</div> <!--/buypresenttext end--> 
						</div><!--/span7 end-->

						<div class="span2">

							<div class="row">
								<div class="span2  services">
									<div class="serviceprice">
										<a href="">100$</a>
									</div>
									<div class=" servicehour">
										<p>60min</p>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="span2  services">
									<div class="serviceprice">
										<a href="">135$</a>
									</div>
									<div class=" servicehour">
										<p>90min</p>
									</div>
								</div>
							</div>


						</div><!--/span2 end-->

					</div><!--/row end-->

				</div><!--/span12 end--> 
			</div><!--/row end --> 
			<!--/one row end-->




			<div class="row"><!--/one row-->
				<div class=" span12 tabinside">
				<h4> ADD ONS</h4>
					<div class="row">

						<div class="span3">
							<img src="/assets/special1.jpg" alt="">
						</div>

						<div class="span7">							
							<h5>FRENCH POLISH</h5>
								<h5>PARAFFIN</h5>
								<h5>RED LIGHT THERAPY</h5>
								<h5>GREEN/YELLOW LIGHT THERAPY</h5>
							<div class="buypresent2text1">
								
							</div> <!--/buypresenttext end--> 

						</div><!--/span7 end-->

						<div class="span2">

							<div class="row">
								<div class="span2  services">
									<div class="serviceprice">
										<a href="">90$</a>
									</div>
									<div class=" servicehour">
										<p>60min</p>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="span2  services">
									<div class="serviceprice">
										<a href="">90$</a>
									</div>
									<div class=" servicehour">
										<p>60min</p>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="span2  services">
									<div class="serviceprice">
										<a href="">90$</a>
									</div>
									<div class=" servicehour">
										<p>60min</p>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="span2  services">
									<div class="serviceprice">
										<a href="">130$</a>
									</div>
									<div class=" servicehour">
										<p>90min</p>
									</div>
								</div>
							</div>

						</div><!--/span2 end-->

					</div><!--/row end-->

				</div><!--/span12 end--> 
			</div><!--/row end --> 
			<!--/one row end-->




			<div class="row"><!--/one row-->
				<div class=" span12 tabinsidelast">
				<h4>Ayurvedic massage</h4>

					<div class="row">

						<div class="span3">
							<img src="/assets/special2.jpg" alt="">
						</div>

						<div class="span7">
							<h5>- TINTING -</h5>

							<p>
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
							Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat  velit esse molestie consequat, vel illum dolore eu feugiat.
							</p>

							<div class="buypresent2text1">
							</div> <!--/buypresenttext end-->
						</div><!--/span7 end-->

						<div class="span2">

							<div class="row">
								<div class="span2  services">
									<div class="serviceprice">
										<a href="">90$</a>
									</div>
									<div class=" servicehour">
										<p>60min</p>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="span2  services">
									<div class="serviceprice">
										<a href="">130$</a>
									</div>
									<div class=" servicehour">
										<p>90min</p>
									</div>
								</div>
							</div>


						</div><!--/span2 end-->

					</div><!--/row end-->

				</div><!--/span12 end--> 
			</div><!--/row end --> 
			<!--/one row end-->


		</div><!-- one tab end-->

		</div><!-- tab content end-->

		</div>
	</div>
</div><!-- container end-->
	

</body>
</html>
