<!DOCTYPE html>
<html lang="en">

<body>

<div class="pageheadline">
    <div class="container">
        <div class="row">
            <div class="span6">             
                <h2>Spa<span>OUR ESTHETICIANS</span></h2>
            </div>

            <div class="span6">             
                <ul class="ch-grid1">
                  <li>
                      <div class="ch-item ch-img-1"></div>
                  </li>

                  <li>
                      <div class="ch-item ch-img-2"></div>
                  </li>

                  <li>
                      <div class="ch-item ch-img-3"></div>
                  </li>
                </ul>
            </div>
        </div>
    </div>
</div>



<div class="container">
    
    <div class="row">
        <div class="span12">
            <div class="columnheadlineabout1">
                <h4><span>Esthecitians</span></h4>
            </div>
        </div>
    </div>


    <div class="row"><!--one column--> 
        <div class="staff paddingbottom1 span12">
            <div class="row">
                <div class="span4">
                    <div class="staffimage">
                      <img src="/assets/spa/Maibritt.jpeg" alt="">
                      <section class="icons">  
                          <a href=""><div class="item"><div><i class="icontwitter"></i></div></div></a>   
                          <a href=""><div class="item"><div><i class="iconfacebook"></i></div></div></a>       
                          <a href=""><div class="item"><div><i class="icongoogle"></i></div></div></a>  
                      </section> 
                    </div>
                </div>

                <div class="span8">
                <h5>MAIBRITT CAMPEN <span>- Specialist Ayurveda - </span></h5>

                <p>
                Maibritt is no stranger to the spa industry, having spent 25 years as an esthetician. Passionate about her education she graduated from the Academy of Excellence (Victoria, BC) in 1988 and continued her studies to include her C Pod (1) B.Sc. pod. CPE. Laser technician, Electrolysis and Medical Aesthetics to name a few. She is passionate about providing quality and professional service and excited to be part of the Leela family to help you relax and feel your best in all aspects of the spa experience.
                </p>
                <p>
                As an added option, Maibritt will be providing Leela’s facials with red and green light therapy. She is available for appointments on Wednesdays and Thursdays 12pm – 8:30pm.
                </p>

                </div><!--/span10 end-->
            </div><!--/row end-->
        </div><!--/staff end--> 
    </div><!--/row end one column end--> 


    <div class="row"><!--one column--> 
        <div class="staff paddingbottom1 span12">
            <div class="row">
                <div class="span4">
                    <div class="staffimage">
                  <img src="/assets/spa/Anna.jpeg" alt="">
                    <section class="icons">  
                       <a href=""><div class="item"><div><i class="icontwitter"></i></div></div></a>   
                       <a href=""><div class="item"><div><i class="iconfacebook"></i></div></div></a>       
                       <a href=""><div class="item"><div><i class="icongoogle"></i></div></div></a>  
                    </section>
                    </div> 
                </div>
                <div class="span8">
                  <h5>ANNA BERG <span>- Specialist Ayurveda - </span></h5>

                  <p>
                  Growing up in a small town as a young girl, Anna used to love doing aesthetics on friends, family members and even her tom boy sister. Anna`s passion till date remains in the aesthetics world.
                  </p>
                  <p>
                  Anna has graduated from the Eveline Charles Academy in May 2014 as a licensed esthetician. She has skills in basic aesthetics as well as medical aesthetic treatments, holistic treatments and business development. She especially loves using organic natural products, and believes in the philosophy of natural wellness and nutrition, which is why she happily decided to join the Leela family. With her nurturing spirit and love of helping people she is looking forward to learning and growing within the industry.
                  </p>
                </div><!--/span10 end-->
            </div><!--/row end-->
        </div><!--/staff end--> 
    </div><!--/row end one column end--> 


 </div><!--/container end--> 
		

</body>
</html>
