<!DOCTYPE html>
<html lang="en">

<body>


<div class="pageheadline">

<div class="container">
<div class="row">
<div class="span6">
 
<h2>Gallery <span>  lorem ipsum dolor sit</span></h2>

</div>


<div class="span6">
 
<ul class="ch-grid1">
<li>
<div class="ch-item ch-img-1">

</div>
</li>

<li>
<div class="ch-item ch-img-2">

</div>
</li>

<li>
<div class="ch-item ch-img-3">

</div>
</li>
</ul>
</div>

</div></div>

</div>


<div class="container">
<div class="row">

<div class="span12">
<div class="columnheadlineabout2">
<h4><span>Gallery</span></h4>
<p>- Lorem ipsum dolor sit -</p>

</div>
</div>


<div class="container">
<div class="row">

<div class="isotopecontainer  span12 startAnimation animated" data-animate="fadeInUp">

<div id="options" class="clearfix">
    
   
 <ul id="filters" class="option-set clearfix" data-option-key="filter">
      <li><a href="#filter" data-option-value="*" class="selected">all</a></li>
        <li><a href="#filter" data-option-value=".filterone">spa</a></li>
        <li><a href="#filter" data-option-value=".filtertwo">wellness</a></li>
          <li><a href="#filter" data-option-value=".filterthree">other</a></li>

  </ul>


<div id="portfoliocontainer" class="photos">



<figure class="photo element filterone view view-first"><!--/one image--> 

<img src="/assets/galleryimage1.jpg" alt="picture"/>
<figcaption class="mask">
<div class="maskinner">
<a class='imagepopup glass' href="/assets/galleryimage1.jpg"></a>
<a class='link' href="#"></a>
<h3>Project title</h3>
<h6>-Lorem ipsum dolor-</h6>
</div> 
</figcaption> 

</figure><!--/one image end--> 


<figure class="photo element filterthree view view-first"><!--/one image--> 

<img src="/assets/galleryimage2.jpg" alt="picture"/>
<figcaption class="mask">
<div class="maskinner">
<a class='imagepopup glass' href="/assets/galleryimage2.jpg"></a>
<a class='link' href="#"></a>
<h3>Project title</h3>
<h6>-Lorem ipsum dolor-</h6>
</div> 
</figcaption>
	
</figure><!--/one image end--> 



<figure class="photo element filterthree view view-first"><!--/one image--> 

<img src="/assets/galleryimage3.jpg" alt="picture"/>
<figcaption class="mask">
<div class="maskinner">
<a class='imagepopup glass' href="/assets/galleryimage3.jpg"></a>
<a class='link' href="#"></a>
<h3>Project title</h3>
<h6>-Lorem ipsum dolor-</h6>
</div> 
</figcaption>
		
</figure><!--/one image end--> 

<figure class="photo element filterone view view-first"><!--/one image--> 

<img src="/assets/galleryimage4.jpg" alt="picture"/>
<figcaption class="mask">
<div class="maskinner">
<a class='imagepopup glass' href="/assets/galleryimage4.jpg"></a>
<a class='link' href="#"></a>
<h3>Project title</h3>
<h6>-Lorem ipsum dolor-</h6>
</div> 
</figcaption>
	
</figure><!--/one image end--> 


<figure class="photo element filtertwo view view-first"><!--/one image end--> 

<img src="/assets/galleryimage5.jpg" alt="picture"/>
<figcaption class="mask">
<div class="maskinner">
<a class='imagepopup glass' href="/assets/galleryimage5.jpg"></a>
<a class='link' href="#"></a>
<h3>Project title</h3>
<h6>-Lorem ipsum dolor-</h6>
</div> 
</figcaption>
	
</figure><!--/one image end--> 



<figure class="photo element filterfour view view-first"><!--/one image--> 

<img src="/assets/galleryimage2.jpg" alt="picture"/>
<figcaption class="mask">
<div class="maskinner">
<a class='imagepopup glass' href="/assets/galleryimage2.jpg"></a>
<a class='link' href="#"></a>
<h3>Project title</h3>
<h6>-Lorem ipsum dolor-</h6>
</div> 
</figcaption>
	
</figure><!--/one image end--> 


<figure class="photo element filtertwo view view-first"><!--/one image--> 

<img src="/assets/galleryimage1.jpg" alt="picture"/>
<figcaption class="mask">
<div class="maskinner">
<a class='imagepopup glass' href="/assets/galleryimage1.jpg"></a>
<a class='link' href="#"></a>
<h3>Project title</h3>
<h6>-Lorem ipsum dolor-</h6>
</div> 
</figcaption>

</figure><!--/one image end--> 

<figure class="photo element filterone view view-first"><!--/one image--> 

<img src="/assets/galleryimage4.jpg" alt="picture"/>
<figcaption class="mask">
<div class="maskinner">
<a class='imagepopup glass' href="/assets/galleryimage4.jpg"></a>
<a class='link' href="#"></a>
<h3>Project title</h3>
<h6>-Lorem ipsum dolor-</h6>
</div> 
</figcaption>
	
</figure><!--/one image end--> 


<figure class="photo element filterone view view-first"><!--/one image--> 

<img src="/assets/galleryimage4.jpg" alt="picture"/>
<figcaption class="mask">
<div class="maskinner">
<a class='imagepopup glass' href="/assets/galleryimage4.jpg"></a>
<a class='link' href="#"></a>
<h3>Project title</h3>
<h6>-Lorem ipsum dolor-</h6>
</div> 
</figcaption>

	
</figure><!--/one image end--> 



<figure class="photo element filterone view view-first"><!--/one image--> 

<img src="/assets/galleryimage2.jpg" alt="picture"/>
<figcaption class="mask">
<div class="maskinner">
<a class='imagepopup glass' href="/assets/galleryimage5.jpg"></a>
<a class='link' href="#"></a>
<h3>Project title</h3>
<h6>-Lorem ipsum dolor-</h6>
</div> 
</figcaption>
	
</figure><!--/one image end--> 


</div><!--/portfoliocontainer end--> 

</div><!--/options end--> 

</div> <!--/isotopecontainer end--> 


</div>
</div>

</div></div>
	

</body>
</html>
