<!DOCTYPE html>
<html lang="en">

<body>

<section class="sequence-theme-wrapper">
<div class="sequence-theme">
			<div id="sequence">


				<img class="sequence-prev" src="/assets/prev.png" alt="Previous Frame" />
				<img class="sequence-next" src="/assets/next.png" alt="Next Frame" />
                               
				<ul class="sequence-canvas" >
					<li class="animate-in">
						<h2 class="title">spa and wellness</h2>
						<h3 class="subtitle">premium website template</h3>
<p class="subtitle1">
Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.<span>
Lorem ipsum dolor sit amet</span> consectetuer adipiscing elit, sed diam nonummy nibh 
euismod tincidunt </p>


<section class="button1 buttonslider">
<a href="http://themeforest.net/user/rayoflightt/portfolio">read more</a>
</section>



<img class="model" src="/assets/model1.png" alt="Model 1" />
					</li>
					<li>
						<h2 class="title">spa and wellness</h2>
						<h3 class="subtitle">premium website template</h3>
                                                 <p class="subtitle1">
Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt <span>ut laoreet dolore magna</span> aliquam erat volutpat. Ut wisi enim ad minim veniam.
Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh 
euismod tincidunt </p>

<section class="button1 buttonslider">
<a href="http://themeforest.net/user/rayoflightt/portfolio">read more</a>
</section>
<img class="model" src="/assets/model2.png" alt="Model 2" />
					</li>
					<li>
						<h2 class="title">spa and wellness</h2>
						<h3 class="subtitle">premium website template</h3>
<p class="subtitle1">
Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet <span>dolore magna aliquam erat</span> volutpat. Ut wisi enim ad minim veniam.
Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh 
euismod tincidunt </p>	

<section class="button1 buttonslider">
<a href="http://themeforest.net/user/rayoflightt/portfolio">read more</a>
</section>					

<img class="model" src="/assets/model3.png" alt="Model 3" />
					</li>
				</ul>




				<div class="sequence-pagination">
					<div class="paginationslider"></div>
					<div class="paginationslider"></div>
					<div class="paginationslider"></div>
				</div>

			</div>
</div>
</section>



<div class="underslider">
 <p>Youth is happy because it has the capacity to see beauty. Anyone who keeps the ability to see beauty never grows old. 
</p>
</div>



<div class="container">
<div class="row">

<div class="span4 spacolumn">

<div class="spaheadline">
<h3>Spa terapy</h3>
</div>

<h6>- Lorem ipsum dolor sit amet -</h6>

<div class="circleimage1">
<div class="circlebg">
</div>
</div>


<div class="decoration">
</div>

<p>
Lorem ipsum dolor sit amet adipiscing elit, sed diam nonummy nibh euismod tincidunt ut. Lorem ipsum dolor sit amet adipiscing elit, sed diam nonummy nibh euismod tincidunt ut.
</p>

<section class="button1">
<a href="">read more</a>
</section>

</div><!--/span4 end--> 


<div class="span4">
<div class=" middlecolumn">

<h4>Daily Special</h4>
<h6>- Lorem ipsum dolor sit amet -</h6>



<div class="bxwrap1">
<ul id="bxslider1">
<li> 
<img src="/assets/smallslider1.png" alt=""/> 
<div class="pricebg"><p> $5</p></div>
<p>
Lorem ipsum dolor sit amet adipiscing elit, sed diam nonummy nibh euismod.
</p>

</li> 

<li> 
<img src="/assets/smallslider1.png" alt=""/> 
<div class="pricebg"><p> $10</p></div>
<p>
Lorem ipsum dolor sit amet adipiscing elit, sed diam nonummy nibh euismod.
</p>

</li> 

<li> 
<img src="/assets/smallslider1.png" alt=""/>
<div class="pricebg"><p> $20</p></div>
<p>
Lorem ipsum dolor sit amet adipiscing elit, sed diam nonummy nibh euismod.
</p>
 
</li> 

</ul> 

</div> 

<section class="button2">
<a href="">read more</a>
</section>


<section class="sendgift">
<a href="">send gift</a>
</section>

</div>
</div><!--/span4 end--> 




<div class="span4 spacolumn">


<div class="spaheadline">
<h3>Wellness</h3>
</div>

<h6>- Lorem ipsum dolor sit amet -</h6>


<div class="circleimage2">
</div>


<div class="decoration">
</div>

<p>
Lorem ipsum dolor sit amet adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.
</p>

<section class="button1">
<a href="">read more</a>
</section>

</div><!--/span4 end--> 


</div><!--/row end--> 



<div class="row">

<div class="span6">


<div class="columnheadline">
<h3><span>lorem ipsum</span></h3>
</div>


<div class="accordion1" id="accordion2">


<div class="accordion-group">
<div class="accordion-heading">
<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse1">
About us
</a>
</div>
<div id="collapse1" class="accordion-body collapse in">
<div class="accordion-inner1">
Lorem ipsum dolor sit amet, consectetuer adipiscing elit, ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat .
</div>
</div>
</div>


<div class="accordion-group">
<div class="accordion-heading">
<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse2">
Business hours
</a>
</div>
<div id="collapse2" class="accordion-body collapse">
<div class="accordion-inner1">
Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat .
</div>
</div>
</div>


<div class="accordion-group">
<div class="accordion-heading">
<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse3">
Contact
</a>
</div>
<div id="collapse3" class="accordion-body collapse">
<div class="accordion-inner1">
Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat .
</div>
</div>
</div>

<div class="accordion-group">
<div class="accordion-heading">
<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse4">
Reservation
</a>
</div>
<div id="collapse4" class="accordion-body collapse">
<div class="accordion-inner1">
Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat .
</div>
</div>
</div>

</div>



</div><!--/span6 end--> 


<div class="span6">



<div class="columnheadline">
<h3><span>recent news</span></h3>
</div>

<div class="row">



<div class=" span6 recentnewsrow">

<a href="" class="ch-gridwrapper">
<ul class="ch-grid">
<li>
<div class="ch-item ch-img-1">
<div class="ch-info">
<p>14<br><span>mart<br> 2013</span></p>
</div>
</div>
</li>
</ul>
</a>		

<h4>Lorem ipsum dolor</h4>
<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat 
</p>
</div>
</div><!--/span6 end--> 


<div class="row">
<div class="span6 recentnewsrow">

<a href="" class="ch-gridwrapper">
<ul class="ch-grid">
<li>
<div class="ch-item ch-img-2">
<div class="ch-info">
<p>13<br><span>mart<br> 2013</span></p>
</div>
</div>
</li>
</ul>
</a>		

<h4>Lorem ipsum dolor</h4>
<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat 
</p>
</div>

</div>


<div class="row">
<div class="span6 recentnewsrow">

<a href="" class="ch-gridwrapper">
<ul class="ch-grid">
<li>
<div class="ch-item ch-img-2">
<div class="ch-info">
<p>13<br><span>mart<br> 2013</span></p>
</div>
</div>
</li>
</ul>
</a>		

<h4>Lorem ipsum dolor</h4>
<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat 
</p>
</div>


</div><!--/span6 end--> 

</div>



</div>


</div> 



<footer class="footer">

<div class="container">
<div class="row">



<div class="span4">

<div class="footerheadline">
<h4>Testimonials</h4>
</div>

<div class="testimonial">
<p class="testimonialbg">
"Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut 
laoreet dolore magna. "
</p>
<p  class="testimonialname">John Doe</p>
</div>


<p class="testimonialbg">
"Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut 
laoreet dolore magna. "
</p>
<p  class="testimonialname">John Doe</p>

</div>


<div class="span4">

<div class="footerheadline">
<h4>Latest Tweets</h4>
</div>

<div class="twitterwrapper">
<img class="twitterbird" src="/assets/twitterbird.png" alt=""/>
<div class="twitter" id="example1"></div>
</div>


</div>

<div class="span4">

<div class="footerheadline">
<h4>Tag Cloud</h4>
</div>

<p class="blogtags">
<span><a href="#">Beauty</a></span>
<span><a href="#">Spa</a></span>	
<span><a href="#">Wellness</a></span>
<span><a href="#">Terapy</a></span>
<span><a href="#">Massage</a></span>	
<span><a href="#">Paraffin</a></span>
<span><a href="#">Beauty</a></span>
<span><a href="#">Spa</a></span>	
<span><a href="#">Wellness</a></span>				
</p>

<div class="footerheadline1">
<h4>Newsletters</h4>
<p>Lorem ipsum dolor sit amet</p>
</div>


<div class="subscribefieldwrapper"><!--/subscribe-form--> 
<form method="post" action="submit.php">
<div>
	
<div id="main1">
<p>
<input type="text" placeholder="enter your email..." name="email" id="email1" 

class="subscribefield" />
</p>
<p>
<input type="submit"  name="submit"  id="subscribe" value="Send" class="buttonsubscribe"/>
</p>
<ul id="response1"></ul>
   

</div></div>
</form>
</div><!--/subscribe-form-end--> 

</div>

</div> </div> 
</footer> 


<div class="bottom"> 

 <div class="container"> 
 <div class="row"> 
<section class="icons span4">  
   <a href=""><div class="item"><div><i class="icontwitter"></i></div></div></a>   
  <a href="http://www.facebook.com/pages/Rayoflight/408688349185439"><div class="item"><div><i class="iconfacebook"></i></div></div></a>       
  <a href=""><div class="item"><div><i class="icongoogle"></i></div></div></a>  
 <a href=""><div class="item"><div><i class="iconrss"></i></div></div></a>  
 <a href=""><div class="item"><div><i class="iconskype"></i></div></div></a>  
  <a href=""><div class="item"><div><i class="iconyoutube"></i></div></div></a>  
 
</section> 


<section class="span4 copyright">  
<p>&copy; 2013 - 2014 <a href="http://themeforest.net/item/-lotus-spa-wellness-html-responsive-template/4635420?ref=rayoflightt">Lotus - Spa & Wellness HTML Responsive Template</a> All rights reserved.</p>
</section> 


<section class="span4">  
<a href="javascript:scrollToTop()" title="top of page"><div class="topofpage"></div></a>
</section> 

 </div> </div>


</div> 

	

</body>
</html>
