<!DOCTYPE html>
<html lang="en">

<body class="loading">

<div class="container">
<div class="flexslider topslider row">
     
  <ul class="slides span12">
    <li>
      <img src="/assets/1.jpg" alt=""/>
    </li>
    <li>
      <img src="/assets/2.jpg" alt=""/>
    </li>
  
  </ul>

</div><!--/top slider end--> 
</div>


<div class="underslider">
 <p>Youth is happy because it has the capacity to see beauty. Anyone who keeps the ability to see beauty never grows old. 
</p>
</div>



<div class="container">
<div class="row">

<div class="span4 spacolumn">

<div class="spaheadline">
<h3>Spa terapy</h3>
</div>

<h6>- Lorem ipsum dolor sit amet -</h6>


<div class="circleimage1a">
<div class="circlebg">
</div>
</div>



<div class="decoration">
</div>

<p>
Lorem ipsum dolor sit amet adipiscing elit, sed diam nonummy nibh euismod tincidunt ut. Lorem ipsum dolor sit amet adipiscing elit, sed diam nonummy nibh euismod tincidunt ut.
</p>

<section class="button1">
<a href="">read more</a>
</section>

</div><!--/span4 end--> 



<div class="span4 spacolumn">

<div class="spaheadline">
<h3>Spa terapy</h3>
</div>

<h6>- Lorem ipsum dolor sit amet -</h6>

<div class="circleimage3a">
<div class="circlebg">
</div>
</div>


<div class="decoration">
</div>

<p>
Lorem ipsum dolor sit amet adipiscing elit, sed diam nonummy nibh euismod tincidunt ut. Lorem ipsum dolor sit amet adipiscing elit, sed diam nonummy nibh euismod tincidunt ut.
</p>

<section class="button1">
<a href="">read more</a>
</section>

</div><!--/span4 end--> 



<div class="span4 spacolumn">


<div class="spaheadline">
<h3>Wellness</h3>
</div>

<h6>- Lorem ipsum dolor sit amet -</h6>


<div class="circleimage2a">
<div class="circlebg">
</div>
</div>


<div class="decoration">
</div>

<p>
Lorem ipsum dolor sit amet adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.
</p>

<section class="button1">
<a href="">read more</a>
</section>

</div><!--/span4 end--> 


</div><!--/row end--> 



<div class="row">

<div class="span6">


<div class="columnheadline">
<h3><span>lorem ipsum</span></h3>
</div>


<div class="accordion1" id="accordion2">


<div class="accordion-group">
<div class="accordion-heading">
<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse1">
About us
</a>
</div>
<div id="collapse1" class="accordion-body collapse in">
<div class="accordion-inner1">
Lorem ipsum dolor sit amet, consectetuer adipiscing elit, ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat .
</div>
</div>
</div>


<div class="accordion-group">
<div class="accordion-heading">
<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse2">
Business hours
</a>
</div>
<div id="collapse2" class="accordion-body collapse">
<div class="accordion-inner1">
Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat .
</div>
</div>
</div>


<div class="accordion-group">
<div class="accordion-heading">
<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse3">
Contact
</a>
</div>
<div id="collapse3" class="accordion-body collapse">
<div class="accordion-inner1">
Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat .
</div>
</div>
</div>

<div class="accordion-group">
<div class="accordion-heading">
<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse4">
Reservation
</a>
</div>
<div id="collapse4" class="accordion-body collapse">
<div class="accordion-inner1">
Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat .
</div>
</div>
</div>

</div>



</div><!--/span6 end--> 


<div class="span6">



<div class="columnheadline">
<h3><span>recent news</span></h3>
</div>

<div class="row">



<div class=" span6 recentnewsrow">

<a href="" class="ch-gridwrapper">
<ul class="ch-grid">
<li>
<div class="ch-item ch-img-1">
<div class="ch-info">
<p>14<br><span>mart<br> 2013</span></p>
</div>
</div>
</li>
</ul>
</a>		

<h4>Lorem ipsum dolor</h4>
<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat 
</p>
</div>
</div><!--/span6 end--> 


<div class="row">
<div class="span6 recentnewsrow">

<a href="" class="ch-gridwrapper">
<ul class="ch-grid">
<li>
<div class="ch-item ch-img-2">
<div class="ch-info">
<p>13<br><span>mart<br> 2013</span></p>
</div>
</div>
</li>
</ul>
</a>		

<h4>Lorem ipsum dolor</h4>
<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat 
</p>
</div>

</div>


<div class="row">
<div class="span6 recentnewsrow">

<a href="" class="ch-gridwrapper">
<ul class="ch-grid">
<li>
<div class="ch-item ch-img-2">
<div class="ch-info">
<p>13<br><span>mart<br> 2013</span></p>
</div>
</div>
</li>
</ul>
</a>		

<h4>Lorem ipsum dolor</h4>
<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat 
</p>
</div>


</div><!--/span6 end--> 

</div>



</div>


</div> 
		

</body>
</html>
