<!DOCTYPE html>
<html lang="en">

<body>

<div class="pageheadline">
	<div class="container">
		<div class="row">
			<div class="span6"> 
				<h2>Spa <span>  Massages</span></h2>
			</div>

			<div class="span6"> 
				<ul class="ch-grid1">
					<li>
						<div class="ch-item ch-img-1"></div>
					</li>
					<li>
						<div class="ch-item ch-img-2"></div>
					</li>
					<li>
						<div class="ch-item ch-img-3"></div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>



<div class="container">
	<div class="row">
		<div class="span12">
			<div class="columnheadlineabout2">
				<h4><span>Services</span></h4>
				<p>Relax & let our therapists use their professional skills to create a magical experience for your senses.All of Leela’s RMT’s are registered and accepted with all health insurance providers. We can <b>direct bill</b> with most of the insurance providers including Alberta Blue Cross, Greenshield, Sunlife, Manulife and others.</p>
			</div>
		</div>
	</div>
</div>



<div class="container">
	<div class="row"><!-- tabs-->
		<div class="containertabs1"><!--/tab container-->
			<ul class="tabs1 span12" id="myTab">
				<li class="active"><a href="#massage_wellness">Wellness</a></li>
				<li><a href="#massage_spa">Spa</a></li>
				<li><a href="#massage_daily">Daily</a></li>
			</ul>
		<div class="tab-content span12">

		<div class="tab-pane active" id="massage_wellness">			
			<div class="row"><!--/one row-->
				<div class="span12  tabinside">
					<h4>Ayurvedic massage</h4>
					<div class="row">

						<div class="span3">
						<img src="/assets/special1.jpg" alt="">
						</div>

						<div class="span7">
							<h5>- RELAXATION MASSAGE -</h5>
							<p>
							Take a blissful retreat from the daily demands of life with our relaxation massage. After this full body massage, you will find tension eased and stress released. A pure indulgent treat for the senses!
							</p>
							<div class="buypresent2text1">
							</div> <!--/buypresenttext end--> 

						</div><!--/span7 end-->

						<div class="span2">

							<div class="row">
								<div class="span2  services">
									<div class="serviceprice">
										<a href="">90$</a>
									</div>
									<div class=" servicehour">
										<p>60min</p>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="span2  services">
									<div class="serviceprice">
										<a href="">130$</a>
									</div>
									<div class=" servicehour">
										<p>90min</p>
									</div>
								</div>
							</div>							

						</div><!--/span2 end-->

					</div><!--/row end-->

				</div><!--/span12 end--> 
			</div><!--/row end --> 
			<!--/one row end-->


			<div class="row"><!--/one row-->
				<div class=" span12 tabinside">
				<h4>Reiki massage</h4>
					<div class="row">
						<div class="span3">
							<img src="/assets/special2.jpg" alt="">
						</div>
						<div class="span7">
							<h5>- THERAPEUTIC MASSAGE -</h5>
							<p>
							This intense massage uses greater pressure and slower movements to relieve chronic pain, tension and tightness. Our RMT’s will use deep, deliberate strokes to separate and lengthen muscle fibers. Great for those with muscular tension and pain.
							</p>

							<div class="buypresent2text1">
							</div> <!--/buypresenttext end--> 
						</div><!--/span7 end-->

						<div class="span2">

							<div class="row">
								<div class="span2  services">
									<div class="serviceprice">
										<a href="">90$</a>
									</div>
									<div class=" servicehour">
										<p>60min</p>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="span2  services">
									<div class="serviceprice">
										<a href="">130$</a>
									</div>
									<div class=" servicehour">
										<p>90min</p>
									</div>
								</div>
							</div>							

						</div><!--/span2 end-->

					</div><!--/row end-->

				</div><!--/span12 end--> 
			</div><!--/row end --> 
			<!--/one row end-->


			<div class="row"><!--/one row-->
				<div class=" span12 tabinsidelast">
					<h4>Ayurvedic massage</h4>
					<div class="row">

						<div class="span3">
							<img src="/assets/special3.jpg" alt="">
						</div>

						<div class="span7">
							<h5>- SPORTS MASSAGE -</h5>
							<p>
							For athletes looking to accelerate their healing process and need customized therapy. Our RMT’s will work with you to lessen the risk of injury while increasing performance, flexibility and range of motion.
							</p>
							<div class="buypresent2text1">
							</div> <!--/buypresenttext end--> 
						</div><!--/span7 end-->

						<div class="span2">							

							<div class="row">
								<div class="span2  services">
									<div class="serviceprice">
										<a href="">90$</a>
									</div>
									<div class=" servicehour">
										<p>60min</p>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="span2  services">
									<div class="serviceprice">
										<a href="">130$</a>
									</div>
									<div class=" servicehour">
										<p>90min</p>
									</div>
								</div>
							</div>

						</div><!--/span2 end-->

					</div><!--/row end-->

				</div><!--/span12 end--> 
			</div><!--/row end --> 
			<!--/one row end-->

		</div><!-- one tab end-->

		<div class="tab-pane" id="massage_spa">

			<div class="row"><!--/one row-->

				<div class=" span12 tabinside">

				<h4>Reiki massage</h4>

					<div class="row">

						<div class="span3">
							<img src="/assets/special1.jpg" alt="">	
						</div>
						<div class="span7">
							<h5>- HOT STONE MASSAGE -</h5>
							<p>
							Use the healing power of heat combined with traditional massage techniques to deepen your relaxation. Heated stones radiate warmth into muscles to increase blood circulation, and decrease stress, tension and tissue stiffness.
							</p>
							<div class="buypresent2text1">
							</div> <!--/buypresenttext end-->
						</div><!--/span7 end-->

						<div class="span2">							

							<div class="row">
								<div class="span2  services">
									<div class="serviceprice">
										<a href="">105$</a>
									</div>
									<div class=" servicehour">
										<p>60min</p>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="span2  services">
									<div class="serviceprice">
										<a href="">145$</a>
									</div>
									<div class=" servicehour">
										<p>90min</p>
									</div>
								</div>
							</div>

						</div><!--/span2 end-->

					</div><!--/row end-->
				</div><!--/span12 end--> 
			</div><!--/row end --> 
			<!--/one row end-->


		<div class="row"><!--/one row-->
			<div class=" span12 tabinside">
			<h4>Reiki massage</h4>
				<div class="row">
					<div class="span3">
					<img src="/assets/special2.jpg" alt="">
					</div>

					<div class="span7">
						<h5>- COUPLES MASSAGE -</h5>
						<p>
						An intimate celebration for two! Be led to your beds side by side to enjoy our calming, invigorating massage that will balance body, mind and soul. So go ahead, indulge your relationship!
						</p>

						<div class="buypresent2text1">
						</div> <!--/buypresenttext end--> 
					</div><!--/span7 end-->

					<div class="span2">

						<div class="row">
							<div class="span2  services">
								<div class="serviceprice">
									<a href="">180$</a>
								</div>
								<div class=" servicehour">
									<p>60min</p>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="span2  services">
								<div class="serviceprice">
									<a href="">260$</a>
								</div>
								<div class=" servicehour">
									<p>90min</p>
								</div>
							</div>
						</div>

					</div><!--/span2 end-->

				</div><!--/row end-->

			</div><!--/span12 end--> 
		</div><!--/row end --> 
		<!--/one row end-->



		<div class="row"><!--/one row-->

			<div class=" span12 tabinsidelast">
			<h4>Ayurvedic massage</h4>
				<div class="row">

					<div class="span3">
						<img src="/assets/special3.jpg" alt="">
					</div>

					<div class="span7">
						<h5>- PRENATAL MASSAGE -</h5>
						<p>
						Nourish both mother-to-be and child with this treatment meant to calm the nervous system and promote circulation. This gentle massage helps reduce back pain, swelling, stress on weight-bearing joints while regulating hormones and improve oxygenation of soft tissues and muscles. We have a special Prenatal table to offer the mother-to-be lie belly down (after months) while enjoying the sensation of the massage.
						</p>
						<div class="buypresent2text1">
						</div> <!--/buypresenttext end--> 
					</div><!--/span7 end-->

					<div class="span2">						

						<div class="row">
							<div class="span2  services">
								<div class="serviceprice">
									<a href="">100$</a>
								</div>
								<div class=" servicehour">
									<p>60min</p>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="span2  services">
								<div class="serviceprice">
									<a href="">135$</a>
								</div>
								<div class=" servicehour">
									<p>90min</p>
								</div>
							</div>
						</div>

					</div><!--/span2 end-->

				</div><!--/row end-->

			</div><!--/span12 end--> 
		</div><!--/row end --> 
		<!--/one row end-->


		</div><!-- one tab end-->


		<div class="tab-pane" id="massage_daily">

			<div class="row"><!--/one row-->
				<div class=" span12 tabinside">
				<h4>Ayurvedic massage</h4>
					<div class="row">
						<div class="span3">
							<img src="/assets/special1.jpg" alt="">
						</div>

						<div class="span7">
							<h5>- POST-NATAL MASSAGE -</h5>
							<p>
							A happy mommy makes a happy baby! Postnatal treatments offer essential time to nurture and support your body’s recovery from the birthing process. Mothers will find additional benefits of relief from nerve and muscle pain, additional milk flow, regulation of menses, reduction in swelling, speedier contraction of uterus and reduction of muscular tension and fatigue.
							</p>
							<div class="buypresent2text1">
							</div> <!--/buypresenttext end--> 
						</div><!--/span7 end-->

						<div class="span2">

							<div class="row">
								<div class="span2  services">
									<div class="serviceprice">
										<a href="">100$</a>
									</div>
									<div class=" servicehour">
										<p>60min</p>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="span2  services">
									<div class="serviceprice">
										<a href="">135$</a>
									</div>
									<div class=" servicehour">
										<p>90min</p>
									</div>
								</div>
							</div>


						</div><!--/span2 end-->

					</div><!--/row end-->

				</div><!--/span12 end--> 
			</div><!--/row end --> 
			<!--/one row end-->




			<div class="row"><!--/one row-->
				<div class=" span12 tabinside">
				<h4>Ayurvedic massage</h4>
					<div class="row">

						<div class="span3">
							<img src="/assets/special1.jpg" alt="">
						</div>

						<div class="span7">
							<h5>- Lorem ipsum dolor -</h5>
							<p>
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
							Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat  velit esse molestie consequat, vel illum dolore eu feugiat.
							</p>

							<div class="buypresent2text1">
							</div> <!--/buypresenttext end--> 

						</div><!--/span7 end-->

						<div class="span2">

							<div class="row">
								<div class="span2  services">
									<div class="serviceprice">
										<a href="">90$</a>
									</div>
									<div class=" servicehour">
										<p>60min</p>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="span2  services">
									<div class="serviceprice">
										<a href="">130$</a>
									</div>
									<div class=" servicehour">
										<p>90min</p>
									</div>
								</div>
							</div>

						</div><!--/span2 end-->

					</div><!--/row end-->

				</div><!--/span12 end--> 
			</div><!--/row end --> 
			<!--/one row end-->




			<div class="row"><!--/one row-->
				<div class=" span12 tabinsidelast">
				<h4>Ayurvedic massage</h4>

					<div class="row">

						<div class="span3">
							<img src="/assets/special2.jpg" alt="">
						</div>

						<div class="span7">
							<h5>- Lorem ipsum dolor -</h5>

							<p>
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
							Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat  velit esse molestie consequat, vel illum dolore eu feugiat.
							</p>

							<div class="buypresent2text1">
							</div> <!--/buypresenttext end-->
						</div><!--/span7 end-->

						<div class="span2">

							<div class="row">
								<div class="span2  services">
									<div class="serviceprice">
										<a href="">90$</a>
									</div>
									<div class=" servicehour">
										<p>60min</p>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="span2  services">
									<div class="serviceprice">
										<a href="">130$</a>
									</div>
									<div class=" servicehour">
										<p>90min</p>
									</div>
								</div>
							</div>


						</div><!--/span2 end-->

					</div><!--/row end-->

				</div><!--/span12 end--> 
			</div><!--/row end --> 
			<!--/one row end-->


		</div><!-- one tab end-->

		</div><!-- tab content end-->

		</div>
	</div>
</div><!-- container end-->
	

</body>
</html>
