<!DOCTYPE html>
<html lang="en">

<body>

<div class="pageheadline">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">             
                <h2>Natural Medicine<span>ACUPUNCTURE & TCM</span></h2>
            </div>

            <div class="col-sm-6">             
                <ul class="ch-grid1">
                  <li>
                      <div class="ch-item ch-img-1"></div>
                  </li>

                  <li>
                      <div class="ch-item ch-img-2"></div>
                  </li>

                  <li>
                      <div class="ch-item ch-img-3"></div>
                  </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="columnheadlineabout2">
        <h4><span>ACUPUNCTURE</span></h4>
      </div>
    </div>
  </div>
</div>

<div class="container">

    <div class="row"><!--one column--> 
        <div class="staff1 paddingbottom1 col-sm-12">
            <div class="row">
                <div class="col-sm-4 pad_top1">                    
                      <img src="/assets/natural/acupuncture1.jpg" alt="">
                </div>

                <div class="col-sm-8 text-justify">
                <h5>WHAT IS ACUPUNCTURE ?</h5>

                <p>Acupuncture about tapping into the energy flowing through your body, known as “Qi” or “Chi”. Acupuncture is a practice which arises out of understanding how and where that energy is flowing in your body, and it addresses specific problems that arise when that energy is blocked. </p>
                <p>Fine stainless steel needles are skillfully inserted into the energy meridians of the body, away from blood vessels and nerves. Through this method, the energy flows in the body are altered and improved.</p>

                </div><!--/col-sm-10 end-->
            </div><!--/row end-->
        </div><!--/staff end--> 
    </div><!--/row end one column end--> 


    <div class="row"><!--one column--> 
        <div class="staff1 paddingbottom1 col-sm-12">
            <div class="row">
                <div class="col-sm-4 pad_top1">                    
                      <img src="/assets/natural/acupuncture_points.jpg" alt="">
                </div>

                <div class="col-sm-8 text-justify">
                <h5>SCIENCE AND ACUPUNCTURE</h5>

                <p>Is there scientific evidence and proof that acupuncture works? Some of the most recent research, conducted by neuroscientists at the University of York in England, determined that acupuncture causes de-activation of areas in the core of the brain. Using Tesla MRI machines, they obtained images which show the direct link between acupuncture needles and pain relief in the brain. </p>
                <p>Modern quantum physics is based on the idea that everything, including the human body, is energy: </p>
                <p><em>“Everything is energy and that is all there is to it. Match the frequency of the reality you want, and you cannot help but get that reality. It can be no other way. This is not philosophy. This is physics.” – Albert Einstein </em></p>
                <p>Acupuncture is also based on this view. The body is energy, and energy flows throughout the body. Acupuncture is the insertion of needles into the meridians of energy which flow throughout the body, which results in unblocking the flow of energy (and fluids, hormones, blood) to release the body’s healing properties and its own pain management.</p>

                </div><!--/col-sm-10 end-->
            </div><!--/row end-->
        </div><!--/staff end--> 
    </div><!--/row end one column end-->

    <div class="row"><!--one column--> 
        <div class="staff1 paddingbottom1 col-sm-12">
            <div class="row">
                <div class="col-sm-4 pad_top1">                    
                      <img src="/assets/natural/shutterstock.jpg" alt="">
                </div>

                <div class="col-sm-8 text-justify">
                <h5>TRADITIONAL CHINESE MEDICINE</h5>

                <p>Traditional Chinese Medicine encompasses a group of “modalities” or treatments, including acupuncture, herbal medicines, and cupping. For thousands of years, the Chinese have been refining their knowledge and understanding of how the body works. While western medicine is based on understanding the body in terms of anatomy alone – the arrangement of the muscular-skeletal, digestive, reproductive, circulatory, and nervous systems – Traditional Chinese Medicine has an entirely different approach. It is based on understanding of the body, not as distinct anatomical parts and systems, but rather, as an integration of energy and matter. </p>
                <p>Twentieth century quantum physics has helped western science to catch up with this fundamental understanding. According to Einstein who founded modern quantum physics, all matter is energy. Therefore the body is energy. Traditional Chinese Medicine is based on this understanding.</p>

                </div><!--/col-sm-10 end-->
            </div><!--/row end-->
        </div><!--/staff end--> 
    </div><!--/row end one column end-->

 </div><!--/container end--> 
		

</body>
</html>
