<!DOCTYPE html>
<html lang="en">

<body>

<div class="pageheadline">
	<div class="container">
		<div class="row">
			<div class="col-sm-6"> 
				<h2>Natural Medicine<span>MEDICAL HEALING</span></h2>
			</div>

			<div class="col-sm-6"> 
				<ul class="ch-grid1">
					<li>
						<div class="ch-item ch-img-1"></div>
					</li>
					<li>
						<div class="ch-item ch-img-2"></div>
					</li>
					<li>
						<div class="ch-item ch-img-3"></div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>



<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div class="columnheadlineabout2 text-justify">
				<h4><span>MEDICAL INTUITIVE HEALING</span></h4>
				<p>Science has proven that an electromagnetic field exists within and around the body. Current medical research demonstrates magnetic fields of specific frequencies can stimulate healing processes. Through this it is possible to change the electromagnetic field of the body.</p>
				<p>The body is a web of continuous and dynamic energy and molecules. The mind is as much a part of this energy-rich web as the body. When small amount of energy applied at a specific point this can give rise to a sudden and dramatic shift in our system.</p>
				<p>By intuitively seeing the layers of the mental and emotional dynamics occurring in ones life, one can provide additional information on how to shift and transform them. A session with a client is usually a combination of intuitive/energy medicine and intuitive/spiritual counseling – but can be strictly one or the other, if that is what a client prefers.</p>
			</div>
		</div>
	</div>
</div>
	

</body>
</html>
