<!DOCTYPE html>
<html lang="en">

<body>

<div class="pageheadline">
    <div class="container">
        <div class="row">
            <div class="col-sm-6"> 
                <h2>Natural Medicine<span>OUR PRACTITIONERS</span></h2>
            </div>
            <div class="col-sm-6"> 
                <ul class="ch-grid1">
                  <li>
                      <div class="ch-item ch-img-1"></div>
                  </li>

                  <li>
                      <div class="ch-item ch-img-2"></div>
                  </li>

                  <li>
                      <div class="ch-item ch-img-3"></div>
                  </li>
                </ul>
            </div>
        </div>
    </div>
</div>



<div class="container">
    <div class="row">
        <div class="col-sm-12">
          <div class="columnheadlineabout">
            <h4><span>PRACTITIONERS</span></h4>
          </div>
        </div>        
    </div><!--/row end--> 

    <div class="row"><!--one column--> 
        <div class="staff paddingbottom1 col-sm-12">
            <div class="row">
                <div class="col-sm-4">
                  <div class="staffimage">
                    <img src="/assets/natural/p_tanya-kelloway.jpg" alt="">
                    <section class="icons">  
                       <a href=""><div class="item"><div><i class="icontwitter"></i></div></div></a>   
                       <a href=""><div class="item"><div><i class="iconfacebook"></i></div></div></a>       
                       <a href=""><div class="item"><div><i class="icongoogle"></i></div></div></a>  
                    </section> 
                  </div>
                </div>
                <div class="col-sm-8 text-justify">
                    <h5>DR. TANYA KELLOWAY, TCM<span>Doctor of Traditional Chinese Medicine</span></h5>
                    <p><em>What would your life be like if you didn’t experience chronic pain and the frustration of never feeling energetic and healthy as you once did? </em></p><em>
                    <p>What if your health issue wasn’t holding you back from living life to your full potential?</p>
                    <p>What if you felt like you could regain your health? </p>
                    </em><p><em>You can!</em></p>
                    <p>I am looking for patients who want to make true health changes in their lives. I appreciate patients who want to get to the next level in their health, who want to be active participants in setting goals and seeing progress. I am seeking patients who partner with me and trust me to guide them towards reaching their goals.</p>
                </div><!--/col-sm-10 end-->
            </div><!--/row end-->
        </div><!--/staff end--> 
    </div><!--/row end one column end--> 

    <div class="row"><!--one column--> 
        <div class="staff paddingbottom1 col-sm-12">
            <div class="row">
                <div class="col-sm-4">
                  <div class="staffimage">
                    <img src="/assets/natural/p_tanya-kelloway.jpg" alt="">
                    <section class="icons">  
                       <a href=""><div class="item"><div><i class="icontwitter"></i></div></div></a>   
                       <a href=""><div class="item"><div><i class="iconfacebook"></i></div></div></a>       
                       <a href=""><div class="item"><div><i class="icongoogle"></i></div></div></a>  
                    </section> 
                  </div>
                </div>
                <div class="col-sm-8 text-justify">
                    <h5>DR. TANYA KELLOWAY, TCM<span>Doctor of Traditional Chinese Medicine</span></h5>
                    <p><em>What would your life be like if you didn’t experience chronic pain and the frustration of never feeling energetic and healthy as you once did? </em></p><em>
                    <p>What if your health issue wasn’t holding you back from living life to your full potential?</p>
                    <p>What if you felt like you could regain your health? </p>
                    </em><p><em>You can!</em></p>
                    <p>I am looking for patients who want to make true health changes in their lives. I appreciate patients who want to get to the next level in their health, who want to be active participants in setting goals and seeing progress. I am seeking patients who partner with me and trust me to guide them towards reaching their goals.</p>
                </div><!--/col-sm-10 end-->
            </div><!--/row end-->
        </div><!--/staff end--> 
    </div><!--/row end one column end-->

    <div class="row"><!--one column--> 
        <div class="staff paddingbottom1 col-sm-12">
            <div class="row">
                <div class="col-sm-4">
                  <div class="staffimage">
                    <img src="/assets/natural/p_tanya-kelloway.jpg" alt="">
                    <section class="icons">  
                       <a href=""><div class="item"><div><i class="icontwitter"></i></div></div></a>   
                       <a href=""><div class="item"><div><i class="iconfacebook"></i></div></div></a>       
                       <a href=""><div class="item"><div><i class="icongoogle"></i></div></div></a>  
                    </section> 
                  </div>
                </div>
                <div class="col-sm-8 text-justify">
                    <h5>DR. TANYA KELLOWAY, TCM<span>Doctor of Traditional Chinese Medicine</span></h5>
                    <p><em>What would your life be like if you didn’t experience chronic pain and the frustration of never feeling energetic and healthy as you once did? </em></p><em>
                    <p>What if your health issue wasn’t holding you back from living life to your full potential?</p>
                    <p>What if you felt like you could regain your health? </p>
                    </em><p><em>You can!</em></p>
                    <p>I am looking for patients who want to make true health changes in their lives. I appreciate patients who want to get to the next level in their health, who want to be active participants in setting goals and seeing progress. I am seeking patients who partner with me and trust me to guide them towards reaching their goals.</p>
                </div><!--/col-sm-10 end-->
            </div><!--/row end-->
        </div><!--/staff end--> 
    </div><!--/row end one column end-->


 </div><!--/container end--> 
		

</body>
</html>
