<!DOCTYPE html>
<html lang="en">

<body>

<div class="pageheadline">
    <div class="container">
        <div class="row">
            <div class="col-sm-6"> 
                <h2>Natural Medicine<span>OUR PRACTITIONERS</span></h2>
            </div>
            <div class="col-sm-6"> 
                <ul class="ch-grid1">
                  <li>
                      <div class="ch-item ch-img-1"></div>
                  </li>

                  <li>
                      <div class="ch-item ch-img-2"></div>
                  </li>

                  <li>
                      <div class="ch-item ch-img-3"></div>
                  </li>
                </ul>
            </div>
        </div>
    </div>
</div>



<div class="container">
    <div class="row">
        <div class="col-sm-12">
          <div class="columnheadlineabout">
            <h4><span>PRACTITIONERS</span></h4>
          </div>
        </div>        
    </div><!--/row end--> 

    <div class="row"><!--one column--> 
        <div class="staff paddingbottom1 col-sm-12">
            <div class="row">
                <div class="col-sm-4">
                  <div class="staffimage">
                    <img src="/assets/natural/p_tanya-kelloway.jpg" alt="">
                    <section class="icons">  
                       <a href=""><div class="item"><div><i class="icontwitter"></i></div></div></a>   
                       <a href=""><div class="item"><div><i class="iconfacebook"></i></div></div></a>       
                       <a href=""><div class="item"><div><i class="icongoogle"></i></div></div></a>  
                    </section> 
                  </div>
                </div>
                <div class="col-sm-8 text-justify">
                    <h5>DR. TANYA KELLOWAY, TCM<span>Doctor of Traditional Chinese Medicine</span></h5>
                    <p><em>What would your life be like if you didn’t experience chronic pain and the frustration of never feeling energetic and healthy as you once did? </em></p><em>
                    <p>What if your health issue wasn’t holding you back from living life to your full potential?</p>
                    <p>What if you felt like you could regain your health? </p>
                    </em><p><em>You can!</em></p>
                    <p>I am looking for patients who want to make true health changes in their lives. I appreciate patients who want to get to the next level in their health, who want to be active participants in setting goals and seeing progress. I am seeking patients who partner with me and trust me to guide them towards reaching their goals.</p>
                </div><!--/col-sm-10 end-->
            </div><!--/row end-->
        </div><!--/staff end--> 
    </div><!--/row end one column end--> 

    <div class="row"><!--one column--> 
        <div class="staff paddingbottom1 col-sm-12">
            <div class="row">
                <div class="col-sm-4">
                  <div class="staffimage">
                    <img src="/assets/natural/p_shannon.jpg" alt="">
                    <section class="icons">  
                       <a href=""><div class="item"><div><i class="icontwitter"></i></div></div></a>   
                       <a href=""><div class="item"><div><i class="iconfacebook"></i></div></div></a>       
                       <a href=""><div class="item"><div><i class="icongoogle"></i></div></div></a>  
                    </section> 
                  </div>
                </div>
                <div class="col-sm-8 text-justify">
                    <h5>SHANNON PRUSS</h5>
                    <p>From my experience so much of a persons physical well being is tied into their emotional, mental, and spiritual state. Everyone has belief systems, emotional patterns, unresolved emotional pain, mental constructs, and interpersonal dynamics that contribute to their physical and overall well being. The blueprints and energy of these beliefs and patterns are usually held somewhere in our body and often translate into a physical, mental, and/or emotional condition that is not in line with our well being.</p>
                    <p>A part of my practice is that I can feel/sense/see where the body is holding these patterns. By connecting with the divine energy, I can then shift, change and/or release energy that is not serving the clients highest good. Another part of my practice is that I can intuitively see the layers and structures of the mental and emotional dynamics occurring in ones life. Observing and becoming aware of these patterns can also provide additional information on how to shift and transform them.</p>
                </div><!--/col-sm-10 end-->
            </div><!--/row end-->
        </div><!--/staff end--> 
    </div><!--/row end one column end-->

    <div class="row"><!--one column--> 
        <div class="staff paddingbottom1 col-sm-12">
            <div class="row">
                <div class="col-sm-4">
                  <div class="staffimage">
                    <img src="/assets/natural/p_lisa.jpg" alt="">
                    <section class="icons">  
                       <a href=""><div class="item"><div><i class="icontwitter"></i></div></div></a>   
                       <a href=""><div class="item"><div><i class="iconfacebook"></i></div></div></a>       
                       <a href=""><div class="item"><div><i class="icongoogle"></i></div></div></a>  
                    </section> 
                  </div>
                </div>
                <div class="col-sm-8 text-justify">
                    <h5>LISA SCHEFFELMAIER<span>Certified Nutritionist</span></h5>
                    <p>Lisa Scheffelmaier is a BodyMind Certified Nutritionist, Certified Sports Nutritionist as well as Certified Raw Nutritionist. For three and half years Lisa worked with David “Avocado” Wolfe, one of the world’s leading authorities on Nutrition and Longevity protocol.  She gained a huge wealth of knowledge from one of the greatest nutritionists ever!</p>
                    <p>Lisa has been ‘walking the talk’ for decades and packs a ton of insight and knowledge for living an extraordinary life. Her philosophy is in educating and inspiring health and vibrancy through whole foods, superfoods, superherbs, and all things longevity. Lisa does not believe in a “one program for all”, rather her approach is tailored for each client, respecting that needs and goals are different for everyone.</p>
                    <p>Lisa is a competitive powerlifter using superfoods to fuel her diet. She currently holds a World record, 2 Canadian records, and 10 Alberta provincial powerlifting records.</p>
                </div><!--/col-sm-10 end-->
            </div><!--/row end-->
        </div><!--/staff end--> 
    </div><!--/row end one column end-->


 </div><!--/container end--> 
		

</body>
</html>
