<!DOCTYPE html>
<html lang="en">

<body>

<div class="pageheadline">

<div class="container">
<div class="row">
<div class="span6">
 
<h2>Services <span>  lorem ipsum dolor</span></h2>

</div>


<div class="span6">
 
<ul class="ch-grid1">
<li>
<div class="ch-item ch-img-1">

</div>
</li>

<li>
<div class="ch-item ch-img-2">

</div>
</li>

<li>
<div class="ch-item ch-img-3">

</div>
</li>
</ul>
</div>



</div></div>

</div>



<div class="container">
<div class="row">

<div class="span12">
<div class="columnheadlineabout2">
<h4><span>Services</span></h4>
<p>- Lorem ipsum dolor sit -</p>

</div>
</div>
</div>
</div>



<div class="container">

<div class="row"><!-- tabs-->

<div class="containertabs1"><!--/tab container-->


<ul class="tabs1 span12" id="myTab">
<li class="active"><a href="#home">Wellness</a></li>
<li><a href="#profile">Spa</a></li>
<li><a href="#messages">Daily</a></li>
</ul>
 

<div class="tab-content span12">

<div class="tab-pane active" id="home">



<div class="row"><!--/one row-->

<div class="span12  tabinside">

<h4>Ayurvedic massage</h4>

<div class="row">

<div class="span3">

<img src="/assets/special1.jpg" alt="">
</div>

<div class="span7">
<h5>- Lorem ipsum dolor -</h5>

<p>
Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat  velit esse molestie consequat, vel illum dolore eu feugiat.
</p>

<div class="buypresent2text1">

</div> <!--/buypresenttext end--> 

</div><!--/span7 end-->

<div class="span2">


<div class="row">
<div class="span2  services">
<div class="serviceprice">
<a href="">10$</a>
</div>
<div class=" servicehour">
<p>1hr</p>
</div>
</div>
</div>

<div class="row">
<div class="span2  services">
<div class="serviceprice">
<a href="">20$</a>
</div>
<div class=" servicehour">
<p>2hr</p>
</div>
</div>
</div>


<div class="row">
<div class="span2  services">
<div class="serviceprice">
<a href="">30$</a>
</div>
<div class="servicehour">
<p>3hr</p>
</div>
</div>
</div>


</div><!--/span2 end-->

</div><!--/row end-->

</div><!--/span12 end--> 
</div><!--/row end --> 
<!--/one row end-->


<div class="row"><!--/one row-->

<div class=" span12 tabinside">

<h4>Reiki massage</h4>

<div class="row">

<div class="span3">

<img src="/assets/special2.jpg" alt="">

</div>

<div class="span7">
<h5>- Lorem ipsum dolor -</h5>

<p>
Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat  velit esse molestie consequat, vel illum dolore eu feugiat.
</p>

<div class="buypresent2text1">


</div> <!--/buypresenttext end--> 


</div><!--/span7 end-->


<div class="span2">


<div class="row">
<div class="span2  services">
<div class="serviceprice">
<a href="">10$</a>
</div>
<div class=" servicehour">
<p>1hr</p>
</div>
</div>
</div>

<div class="row">
<div class="span2  services">
<div class="serviceprice">
<a href="">20$</a>
</div>
<div class=" servicehour">
<p>2hr</p>
</div>
</div>
</div>


<div class="row">
<div class="span2  services">
<div class="serviceprice">
<a href="">30$</a>
</div>
<div class="servicehour">
<p>3hr</p>
</div>
</div>
</div>

</div><!--/span2 end-->

</div><!--/row end-->

</div><!--/span12 end--> 
</div><!--/row end --> 
<!--/one row end-->


<div class="row"><!--/one row-->

<div class=" span12 tabinsidelast">

<h4>Ayurvedic massage</h4>

<div class="row">

<div class="span3">


<img src="/assets/special3.jpg" alt="">

</div>

<div class="span7">
<h5>- Lorem ipsum dolor -</h5>

<p>
Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat  velit esse molestie consequat, vel illum dolore eu feugiat.
</p>

<div class="buypresent2text1">


</div> <!--/buypresenttext end--> 


</div><!--/span7 end-->


<div class="span2">


<div class="row">
<div class="span2  services">
<div class="serviceprice">
<a href="">10$</a>
</div>
<div class=" servicehour">
<p>1hr</p>
</div>
</div>
</div>

<div class="row">
<div class="span2  services">
<div class="serviceprice">
<a href="">20$</a>
</div>
<div class=" servicehour">
<p>2hr</p>
</div>
</div>
</div>


<div class="row">
<div class="span2  services">
<div class="serviceprice">
<a href="">30$</a>
</div>
<div class=" servicehour">
<p>3hr</p>
</div>
</div>
</div>


</div><!--/span2 end-->


</div><!--/row end-->

</div><!--/span12 end--> 
</div><!--/row end --> 
<!--/one row end-->




</div><!-- one tab end-->

<div class="tab-pane" id="profile">




<div class="row"><!--/one row-->

<div class=" span12 tabinside">

<h4>Reiki massage</h4>

<div class="row">

<div class="span3">

<img src="/assets/special1.jpg" alt="">

</div>

<div class="span7">
<h5>- Lorem ipsum dolor -</h5>

<p>
Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat  velit esse molestie consequat, vel illum dolore eu feugiat.
</p>

<div class="buypresent2text1">


</div> <!--/buypresenttext end--> 


</div><!--/span7 end-->

<div class="span2">


<div class="row">
<div class="span2  services">
<div class="serviceprice">
<a href="">10$</a>
</div>
<div class=" servicehour">
<p>1hr</p>
</div>
</div>
</div>

<div class="row">
<div class="span2  services">
<div class="serviceprice">
<a href="">20$</a>
</div>
<div class="servicehour">
<p>2hr</p>
</div>
</div>
</div>


<div class="row">
<div class="span2  services">
<div class="serviceprice">
<a href="">30$</a>
</div>
<div class=" servicehour">
<p>3hr</p>
</div>
</div>
</div>


</div><!--/span2 end-->


</div><!--/row end-->

</div><!--/span12 end--> 
</div><!--/row end --> 
<!--/one row end-->





<div class="row"><!--/one row-->

<div class=" span12 tabinside">

<h4>Reiki massage</h4>

<div class="row">

<div class="span3">

<img src="/assets/special2.jpg" alt="">

</div>

<div class="span7">
<h5>- Lorem ipsum dolor -</h5>

<p>
Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat  velit esse molestie consequat, vel illum dolore eu feugiat.
</p>

<div class="buypresent2text1">

</div> <!--/buypresenttext end--> 


</div><!--/span7 end-->


<div class="span2">


<div class="row">
<div class="span2  services">
<div class="serviceprice">
<a href="">10$</a>
</div>
<div class=" servicehour">
<p>1hr</p>
</div>
</div>
</div>

<div class="row">
<div class="span2  services">
<div class="serviceprice">
<a href="">20$</a>
</div>
<div class=" servicehour">
<p>2hr</p>
</div>
</div>
</div>


<div class="row">
<div class="span2  services">
<div class="serviceprice">
<a href="">30$</a>
</div>
<div class=" servicehour">
<p>3hr</p>
</div>
</div>
</div>


</div><!--/span2 end-->



</div><!--/row end-->

</div><!--/span12 end--> 
</div><!--/row end --> 
<!--/one row end-->



<div class="row"><!--/one row-->

<div class=" span12 tabinsidelast">

<h4>Ayurvedic massage</h4>

<div class="row">

<div class="span3">

<img src="/assets/special3.jpg" alt="">

</div>

<div class="span7">
<h5>- Lorem ipsum dolor -</h5>

<p>
Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat  velit esse molestie consequat, vel illum dolore eu feugiat.
</p>

<div class="buypresent2text1">


</div> <!--/buypresenttext end--> 


</div><!--/span7 end-->

<div class="span2">


<div class="row">
<div class="span2  services">
<div class="serviceprice">
<a href="">10$</a>
</div>
<div class=" servicehour">
<p>1hr</p>
</div>
</div>
</div>

<div class="row">
<div class="span2  services">
<div class="serviceprice">
<a href="">20$</a>
</div>
<div class=" servicehour">
<p>2hr</p>
</div>
</div>
</div>


<div class="row">
<div class="span2  services">
<div class="serviceprice">
<a href="">30$</a>
</div>
<div class=" servicehour">
<p>3hr</p>
</div>
</div>
</div>


</div><!--/span2 end-->

</div><!--/row end-->

</div><!--/span12 end--> 
</div><!--/row end --> 
<!--/one row end-->


</div><!-- one tab end-->


<div class="tab-pane" id="messages">



<div class="row"><!--/one row-->

<div class=" span12 tabinside">

<h4>Ayurvedic massage</h4>

<div class="row">

<div class="span3">

<img src="/assets/special1.jpg" alt="">
</div>

<div class="span7">
<h5>- Lorem ipsum dolor -</h5>

<p>
Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat  velit esse molestie consequat, vel illum dolore eu feugiat.
</p>

<div class="buypresent2text1">


</div> <!--/buypresenttext end--> 


</div><!--/span7 end-->




<div class="span2">


<div class="row">
<div class="span2  services">
<div class="serviceprice">
<a href="">10$</a>
</div>
<div class=" servicehour">
<p>1hr</p>
</div>
</div>
</div>

<div class="row">
<div class="span2  services">
<div class="serviceprice">
<a href="">20$</a>
</div>
<div class=" servicehour">
<p>2hr</p>
</div>
</div>
</div>


<div class="row">
<div class="span2  services">
<div class="serviceprice">
<a href="">30$</a>
</div>
<div class=" servicehour">
<p>3hr</p>
</div>
</div>
</div>


</div><!--/span2 end-->



</div><!--/row end-->

</div><!--/span12 end--> 
</div><!--/row end --> 
<!--/one row end-->




<div class="row"><!--/one row-->

<div class=" span12 tabinside">

<h4>Ayurvedic massage</h4>

<div class="row">

<div class="span3">

<img src="/assets/special1.jpg" alt="">
</div>

<div class="span7">
<h5>- Lorem ipsum dolor -</h5>

<p>
Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat  velit esse molestie consequat, vel illum dolore eu feugiat.
</p>

<div class="buypresent2text1">


</div> <!--/buypresenttext end--> 


</div><!--/span7 end-->

<div class="span2">


<div class="row">
<div class="span2  services">
<div class="serviceprice">
<a href="">10$</a>
</div>
<div class=" servicehour">
<p>1hr</p>
</div>
</div>
</div>

<div class="row">
<div class="span2  services">
<div class="serviceprice">
<a href="">20$</a>
</div>
<div class=" servicehour">
<p>2hr</p>
</div>
</div>
</div>


<div class="row">
<div class="span2  services">
<div class="serviceprice">
<a href="">30$</a>
</div>
<div class=" servicehour">
<p>3hr</p>
</div>
</div>
</div>


</div><!--/span2 end-->

</div><!--/row end-->

</div><!--/span12 end--> 
</div><!--/row end --> 
<!--/one row end-->




<div class="row"><!--/one row-->

<div class=" span12 tabinsidelast">

<h4>Ayurvedic massage</h4>

<div class="row">

<div class="span3">

<img src="/assets/special2.jpg" alt="">

</div>

<div class="span7">
<h5>- Lorem ipsum dolor -</h5>

<p>
Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat  velit esse molestie consequat, vel illum dolore eu feugiat.
</p>

<div class="buypresent2text1">


</div> <!--/buypresenttext end--> 


</div><!--/span7 end-->

<div class="span2">


<div class="row">
<div class="span2  services">
<div class="serviceprice">
<a href="">10$</a>
</div>
<div class=" servicehour">
<p>1hr</p>
</div>
</div>
</div>

<div class="row">
<div class="span2  services">
<div class="serviceprice">
<a href="">20$</a>
</div>
<div class=" servicehour">
<p>2hr</p>
</div>
</div>
</div>


<div class="row">
<div class="span2  services">
<div class="serviceprice">
<a href="">30$</a>
</div>
<div class=" servicehour">
<p>3hr</p>
</div>
</div>
</div>


</div><!--/span2 end-->

</div><!--/row end-->

</div><!--/span12 end--> 
</div><!--/row end --> 
<!--/one row end-->


</div><!-- one tab end-->

</div><!-- tab content end-->

</div>
</div>
</div><!-- container end-->




<footer class="footer">

<div class="container">
<div class="row">



<div class="span4">

<div class="footerheadline">
<h4>Testimonials</h4>
</div>

<div class="testimonial">
<p class="testimonialbg">
"Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut 
laoreet dolore magna. "
</p>
<p  class="testimonialname">John Doe</p>
</div>


<p class="testimonialbg">
"Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut 
laoreet dolore magna. "
</p>
<p  class="testimonialname">John Doe</p>

</div>


<div class="span4">

<div class="footerheadline">
<h4>Latest Tweets</h4>
</div>

<div class="twitterwrapper">
<img class="twitterbird" src="/assets/twitterbird.png" alt=""/>
<div class="twitter" id="example1"></div>
</div>


</div>

<div class="span4">

<div class="footerheadline">
<h4>Tag Cloud</h4>
</div>

<p class="blogtags">
<span><a href="#">Beauty</a></span>
<span><a href="#">Spa</a></span>	
<span><a href="#">Wellness</a></span>
<span><a href="#">Terapy</a></span>
<span><a href="#">Massage</a></span>	
<span><a href="#">Paraffin</a></span>
<span><a href="#">Beauty</a></span>
<span><a href="#">Spa</a></span>	
<span><a href="#">Wellness</a></span>				
</p>

<div class="footerheadline1">
<h4>Newsletters</h4>
<p>Lorem ipsum dolor sit amet</p>
</div>


<div class="subscribefieldwrapper"><!--/subscribe-form--> 
<form method="post" action="submit.php">
<div>
	
<div id="main1">
<p>
<input type="text" placeholder="enter your email..." name="email" id="email1" 

class="subscribefield" />
</p>
<p>
<input type="submit"  name="submit"  id="subscribe" value="Send" class="buttonsubscribe"/>
</p>
<ul id="response1"></ul>
   

</div></div>
</form>
</div><!--/subscribe-form-end--> 

</div>

</div> </div> 
</footer> 


<div class="bottom"> 

 <div class="container"> 
 <div class="row"> 
<section class="icons span4">  
   <a href=""><div class="item"><div><i class="icontwitter"></i></div></div></a>   
  <a href="http://www.facebook.com/pages/Rayoflight/408688349185439"><div class="item"><div><i class="iconfacebook"></i></div></div></a>       
  <a href=""><div class="item"><div><i class="icongoogle"></i></div></div></a>  
 <a href=""><div class="item"><div><i class="iconrss"></i></div></div></a>  
 <a href=""><div class="item"><div><i class="iconskype"></i></div></div></a>  
  <a href=""><div class="item"><div><i class="iconyoutube"></i></div></div></a>  
 
</section> 


<section class="span4 copyright">  
<p>&copy; 2013 - 2014 <a href="http://themeforest.net/item/-lotus-spa-wellness-html-responsive-template/4635420?ref=rayoflightt">Lotus - Spa & Wellness HTML Responsive Template</a> All rights reserved.</p>
</section> 


<section class="span4">  
<a href="javascript:scrollToTop()" title="top of page"><div class="topofpage"></div></a>
</section> 

 </div> </div>


</div> 
		

</body>
</html>
