<!DOCTYPE html>
<html lang="en">

<body>

<div class="pageheadline">

<div class="container">
<div class="row">
<div class="span6">
 
<h2>Special <span>  lorem ipsum dolor sit</span></h2>

</div>


<div class="span6">
 
<ul class="ch-grid1">
<li>
<div class="ch-item ch-img-1">

</div>
</li>

<li>
<div class="ch-item ch-img-2">

</div>
</li>

<li>
<div class="ch-item ch-img-3">

</div>
</li>
</ul>
</div>



</div></div>

</div>



<div class="container">
<div class="row">

<div class="span12">
<div class="columnheadlineabout2">
<h4><span>Special</span></h4>
<p>- Lorem ipsum dolor sit -</p>

</div>
</div>
</div>
</div>



<div class="container">

<div class="row"><!-- tabs-->

<div class="containertabs1"><!--/tab container-->


<ul class="tabs1 span12" id="myTab">
<li class="active"><a href="#home">Wellness</a></li>
<li><a href="#profile">Spa</a></li>
<li><a href="#messages">Daily</a></li>
</ul>
 
<div class="tab-content span12">

<div class="tab-pane active" id="home">





<div class="row"><!--/one row-->

<div class="span12  tabinside">

<h4>Ayurvedic massage</h4>

<div class="row">

<div class="span3">

<ul class="ch-grid4">
<li>

<div class="ch-item4">
<img src="/assets/special1.jpg" alt="">
<div class="pricewrapspecial">
<div class="pricebgspecial"><p> $5</p></div>
</div> 
</div>

</li>
</ul>

</div>

<div class="span9">
<h5>- Lorem ipsum dolor -</h5>

<p>
Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat  velit esse molestie consequat, vel illum dolore eu feugiat.
</p>

<div class="buypresent2text1">
<div class="sendgiftnow1">
<a href="">send gift now</a>
</div>

</div> <!--/buypresenttext end--> 


</div><!--/span10 end-->
</div><!--/row end-->

</div><!--/span12 end--> 
</div><!--/row end --> 
<!--/one row end-->



<div class="row"><!--/one row-->

<div class=" span12 tabinside">

<h4>Reiki massage</h4>

<div class="row">

<div class="span3">

<ul class="ch-grid4">
<li>


<div class="ch-item4">
<img src="/assets/special2.jpg" alt="">
<div class="pricewrapspecial">
<div class="pricebgspecial"><p> $5</p></div>
</div> 
</div>

</li>
</ul>

</div>

<div class="span9">
<h5>- Lorem ipsum dolor -</h5>

<p>
Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat  velit esse molestie consequat, vel illum dolore eu feugiat.
</p>

<div class="buypresent2text1">
<div class="sendgiftnow1">
<a href="">send gift now</a>
</div>

</div> <!--/buypresenttext end--> 


</div><!--/span10 end-->
</div><!--/row end-->

</div><!--/span12 end--> 
</div><!--/row end --> 
<!--/one row end-->




<div class="row"><!--/one row-->

<div class=" span12 tabinsidelast">

<h4>Ayurvedic massage</h4>

<div class="row">

<div class="span3">

<ul class="ch-grid4">
<li>


<div class="ch-item4">
<img src="/assets/special1.jpg" alt="">
<div class="pricewrapspecial">
<div class="pricebgspecial"><p> $5</p></div>
</div> 
</div>

</li>
</ul>

</div>

<div class="span9">
<h5>- Lorem ipsum dolor -</h5>

<p>
Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat  velit esse molestie consequat, vel illum dolore eu feugiat.
</p>

<div class="buypresent2text1">
<div class="sendgiftnow1">
<a href="">send gift now</a>
</div>

</div> <!--/buypresenttext end--> 


</div><!--/span10 end-->
</div><!--/row end-->

</div><!--/span12 end--> 
</div><!--/row end --> 
<!--/one row end-->

</div><!-- one tab end-->

<div class="tab-pane" id="profile">




<div class="row"><!--/one row-->

<div class=" span12 tabinside">

<h4>Reiki massage</h4>

<div class="row">

<div class="span3">

<ul class="ch-grid4">
<li>


<div class="ch-item4">
<img src="/assets/special1.jpg" alt="">
<div class="pricewrapspecial">
<div class="pricebgspecial"><p> $5</p></div>
</div> 
</div>

</li>
</ul>

</div>

<div class="span9">
<h5>- Lorem ipsum dolor -</h5>

<p>
Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat  velit esse molestie consequat, vel illum dolore eu feugiat.
</p>

<div class="buypresent2text1">
<div class="sendgiftnow1">
<a href="">send gift now</a>
</div>

</div> <!--/buypresenttext end--> 


</div><!--/span10 end-->
</div><!--/row end-->

</div><!--/span12 end--> 
</div><!--/row end --> 
<!--/one row end-->



<div class="row"><!--/one row-->

<div class=" span12 tabinside">

<h4>Reiki massage</h4>

<div class="row">

<div class="span3">

<ul class="ch-grid4">
<li>


<div class="ch-item4">
<img src="/assets/special3.jpg" alt="">
<div class="pricewrapspecial">
<div class="pricebgspecial"><p> $5</p></div>
</div> 
</div>

</li>
</ul>

</div>

<div class="span9">
<h5>- Lorem ipsum dolor -</h5>

<p>
Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat  velit esse molestie consequat, vel illum dolore eu feugiat.
</p>

<div class="buypresent2text1">
<div class="sendgiftnow1">
<a href="">send gift now</a>
</div>

</div> <!--/buypresenttext end--> 


</div><!--/span10 end-->
</div><!--/row end-->

</div><!--/span12 end--> 
</div><!--/row end --> 
<!--/one row end-->


<div class="row"><!--/one row-->

<div class=" span12 tabinsidelast">

<h4>Ayurvedic massage</h4>

<div class="row">

<div class="span3">

<ul class="ch-grid4">
<li>


<div class="ch-item4">
<img src="/assets/special2.jpg" alt="">
<div class="pricewrapspecial">
<div class="pricebgspecial"><p> $5</p></div>
</div> 
</div>

</li>
</ul>

</div>

<div class="span9">
<h5>- Lorem ipsum dolor -</h5>

<p>
Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat  velit esse molestie consequat, vel illum dolore eu feugiat.
</p>

<div class="buypresent2text1">
<div class="sendgiftnow1">
<a href="">send gift now</a>
</div>

</div> <!--/buypresenttext end--> 


</div><!--/span10 end-->
</div><!--/row end-->

</div><!--/span12 end--> 
</div><!--/row end --> 
<!--/one row end-->


</div><!-- one tab end-->


<div class="tab-pane" id="messages">



<div class="row"><!--/one row-->

<div class=" span12 tabinside">

<h4>Ayurvedic massage</h4>

<div class="row">

<div class="span3">

<ul class="ch-grid4">
<li>


<div class="ch-item4">
<img src="/assets/special1.jpg" alt="">
<div class="pricewrapspecial">
<div class="pricebgspecial"><p> $5</p></div>
</div> 
</div>

</li>
</ul>

</div>

<div class="span9">
<h5>- Lorem ipsum dolor -</h5>

<p>
Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat  velit esse molestie consequat, vel illum dolore eu feugiat.
</p>

<div class="buypresent2text1">
<div class="sendgiftnow1">
<a href="">send gift now</a>
</div>

</div> <!--/buypresenttext end--> 


</div><!--/span10 end-->
</div><!--/row end-->

</div><!--/span12 end--> 
</div><!--/row end --> 
<!--/one row end-->




<div class="row"><!--/one row-->

<div class=" span12 tabinside">

<h4>Ayurvedic massage</h4>

<div class="row">

<div class="span3">

<ul class="ch-grid4">
<li>


<div class="ch-item4">
<img src="/assets/special2.jpg" alt="">
<div class="pricewrapspecial">
<div class="pricebgspecial"><p> $5</p></div>
</div> 
</div>

</li>
</ul>

</div>

<div class="span9">
<h5>- Lorem ipsum dolor -</h5>

<p>
Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat  velit esse molestie consequat, vel illum dolore eu feugiat.
</p>

<div class="buypresent2text1">
<div class="sendgiftnow1">
<a href="">send gift now</a>
</div>

</div> <!--/buypresenttext end--> 


</div><!--/span10 end-->
</div><!--/row end-->

</div><!--/span12 end--> 
</div><!--/row end --> 
<!--/one row end-->




<div class="row"><!--/one row-->

<div class=" span12 tabinsidelast">

<h4>Ayurvedic massage</h4>

<div class="row">

<div class="span3">

<ul class="ch-grid4">
<li>


<div class="ch-item4">
<img src="/assets/special1.jpg" alt="">
<div class="pricewrapspecial">
<div class="pricebgspecial"><p> $5</p></div>
</div> 
</div>

</li>
</ul>

</div>

<div class="span9">
<h5>- Lorem ipsum dolor -</h5>

<p>
Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat  velit esse molestie consequat, vel illum dolore eu feugiat.
</p>

<div class="buypresent2text1">
<div class="sendgiftnow1">
<a href="">send gift now</a>
</div>

</div> <!--/buypresenttext end--> 


</div><!--/span10 end-->
</div><!--/row end-->

</div><!--/span12 end--> 
</div><!--/row end --> 
<!--/one row end-->


</div><!-- one tab end-->

</div><!-- tab content end-->

</div>
</div>
</div><!-- container end-->
		

</body>
</html>
