<!DOCTYPE html>
<html lang="en">

<body>

<div class="pageheadline">
    <div class="container">
        <div class="row">
            <div class="col-sm-6"> 
                <h2>SPA<span>OUR THERAPISTS</span></h2>
            </div>
            <div class="col-sm-6"> 
                <ul class="ch-grid1">
                  <li>
                      <div class="ch-item ch-img-1"></div>
                  </li>

                  <li>
                      <div class="ch-item ch-img-2"></div>
                  </li>

                  <li>
                      <div class="ch-item ch-img-3"></div>
                  </li>
                </ul>
            </div>
        </div>
    </div>
</div>



<div class="container">
    <div class="row">
        <div class="col-sm-12">
          <div class="columnheadlineabout">
            <h4><span>THERAPISTS</span></h4>
          </div>
        </div>        
    </div><!--/row end--> 

    <div class="row"><!--one column--> 
        <div class="staff paddingbottom1 col-sm-12">
            <div class="row">
                <div class="col-sm-4">
                  <div class="staffimage">
                    <img src="/assets/spa/therapist_theresa.jpg" alt="">
                    <section class="icons">  
                       <a href=""><div class="item"><div><i class="icontwitter"></i></div></div></a>   
                       <a href=""><div class="item"><div><i class="iconfacebook"></i></div></div></a>       
                       <a href=""><div class="item"><div><i class="icongoogle"></i></div></div></a>  
                    </section> 
                  </div>
                </div>
                <div class="col-sm-8">
                    <h5>THERESA BAGAN<span>- LEAD RMT - </span></h5>
                    <p class="text-justify">I have always had a strong connection to the holistic field. At a young age I was told my hands were strong and I should consider massage as a future career . In 1999 I took my first steps in that direction through a <em>Touch for Health</em> course. It opened my eyes to the healing possibilities of human touch and the power of our body’s response to touch. After I completed all 3 levels of Reiki through MRU, I was ready for massage school. I completed my 700hr program from <em>The Vancouver school of Bodywork and Massage</em>. This accelerated program offered me so much more than massage – Some other modalities I learned include <em>Joint Release, Aromatherapy, Ayurveda, Reflexology, Shiatsu, Deep Flow and Hot Stone Massage</em>. As a Holistic Massage practitioner, my intention is to help others experience the balance, vitality, strength and joy that comes from integrating the mind, body and spirit in a state of optimum health. My approach is to treat each individual with a customized treatment plan, combined with a desire to achieve the highest level of well-being. I aspire to deepen my understanding of the science of self-healing and the lifelong benefits that are associated with the commitment to one’s health. </p>
                </div><!--/col-sm-10 end-->
            </div><!--/row end-->
        </div><!--/staff end--> 
    </div><!--/row end one column end--> 

    <div class="row"><!--one column--> 
        <div class="staff paddingbottom1 col-sm-12">
            <div class="row">                
                <div class="col-sm-8">
                    <h5>MELODIE PRICE<span>- RMT - </span></h5>
                    <p class="text-justify">Melodie is a Registered Massage Therapist who graduated in 2007 from ICT Northumberland College in Halifax, Nova Scotia. She is a member of the Natural Health Practitioners of Canada (NHPC).</p>
                    <p class="text-justify">Her treatment methods include deep tissue massage, myofascial release and trigger point therapy. She has a special interest in sports &amp; injury rehabilitation as well as pregnancy massage. Melodie is very passionate about her work and likes to tailor each session to the individual needs of her clients.</p>
                    <p class="text-justify">Melodie is an avid runner, completed two half marathons with hopes to finish a full marathon in the near future. Her weekends are spent running, hiking, biking, and climbing.</p>
                </div><!--/col-sm-10 end-->
                <div class="col-sm-4">
                  <div class="staffimage">
                    <img src="/assets/spa/therapist_melodie.png" alt="">
                    <section class="icons">  
                       <a href=""><div class="item"><div><i class="icontwitter"></i></div></div></a>   
                       <a href=""><div class="item"><div><i class="iconfacebook"></i></div></div></a>       
                       <a href=""><div class="item"><div><i class="icongoogle"></i></div></div></a>  
                    </section> 
                  </div>
                </div>
            </div><!--/row end-->
        </div><!--/staff end--> 
    </div><!--/row end one column end--> 

    <div class="row"><!--one column--> 
        <div class="staff paddingbottom1 col-sm-12">
            <div class="row">
                <div class="col-sm-4">
                  <div class="staffimage">
                    <img src="/assets/spa/therapist_jolaine.jpg" alt="">
                    <section class="icons">  
                       <a href=""><div class="item"><div><i class="icontwitter"></i></div></div></a>   
                       <a href=""><div class="item"><div><i class="iconfacebook"></i></div></div></a>       
                       <a href=""><div class="item"><div><i class="icongoogle"></i></div></div></a>  
                    </section> 
                  </div>
                </div>                
                <div class="col-sm-8">
                    <h5>JOLAINE ST. PIERRE<span>- RMT - </span></h5>
                    <p class="text-justify">I am grateful for many things in my life… among them is my desire to impart awareness, balance, wellness and recovery through my hands.</p>
                    <p class="text-justify">I have been practicing massage since 2003 and continue to evolve with each new experience and insight. I welcome every opportunity to grow, be it through continued education or interaction with clients. My focus is consistently placed on assisting clients to aim for their optimum and unique potential, while respecting and restoring the body’s natural pursuit towards equilibrium and well-being. I view my role as a facilitator and teamwork as a vital component of a successful outcome. I am inspired by all those I have the pleasure of working alongside and am fortunate to be a part of the committed and caring Leela community!</p>
                    <p class="text-justify">On a personal note, my passion for food (yes I mean dark chocolate!), loved ones (furry ones too!), and the great outdoors (have you hugged a tree today?) are the essence of my happiness and keep me endlessly celebrating this amazing life!</p>
                </div><!--/col-sm-10 end-->                
            </div><!--/row end-->
        </div><!--/staff end--> 
    </div><!--/row end one column end-->

    <div class="row"><!--one column--> 
        <div class="staff paddingbottom1 col-sm-12">
            <div class="row">                
                <div class="col-sm-8">
                    <h5>JESSICA CHORONZEY<span>- RMT - </span></h5>
                    <p class="text-justify">Jessica is a Registered Massage Therapist, graduating from CCMH in Cambridge, Ontario.  Her journey to become a Natural Health Practitioner began at an early age, when as a Provincial level gymnast she relied on massage and chiropractor care to heal many stress related injuries. Her extensive training includes; deep tissue work, trigger point (referral pain) therapy, sports injury rehabilitation, relaxation and aromatherapy massage.  Immediately upon completing school, Jessica was chosen to work with many of the Winter Olympic Athletes as they prepared for the Sochi games.</p>
                    <p class="text-justify">Jessica is passionate about chronic pain management, with a focus on migraine and cancer treatments, finding the greatest satisfaction in providing care to those dealing with every day pain. Her primary belief is that one cannot heal the body, until the mind is at peace as well. Finding her home at Leela was a dream come true for Jess! The addition of Natural Health Care is especially exciting to her, as she is a strong supporter of multi-disciplinary health care, standing by the fact that a great team provides the greatest results.</p>
                    <p class="text-justify">Jessica is also a Certified Pediatric Massage Therapist, having completed training under world renowned pioneer in the field Tina Allen of The Liddle Kidz Foundation.  This therapy can relieve the stresses of Autism, chronic illnesses in children, gait and motor skill dysfunction and growing pains, all while providing a safe and fun environment for your child!
                    </p>
                </div><!--/col-sm-10 end-->
                <div class="col-sm-4">
                  <div class="staffimage">
                    <img src="/assets/spa/therapist_jessica.jpg" alt="">
                    <section class="icons">  
                       <a href=""><div class="item"><div><i class="icontwitter"></i></div></div></a>   
                       <a href=""><div class="item"><div><i class="iconfacebook"></i></div></div></a>       
                       <a href=""><div class="item"><div><i class="icongoogle"></i></div></div></a>  
                    </section> 
                  </div>
                </div>
            </div><!--/row end-->
        </div><!--/staff end--> 
    </div><!--/row end one column end--> 

    <div class="row"><!--one column--> 
        <div class="staff paddingbottom1 col-sm-12">
            <div class="row">
                <div class="col-sm-4">
                  <div class="staffimage">
                    <img src="/assets/spa/therapist_shawne.jpg" alt="">
                    <section class="icons">  
                       <a href=""><div class="item"><div><i class="icontwitter"></i></div></div></a>   
                       <a href=""><div class="item"><div><i class="iconfacebook"></i></div></div></a>       
                       <a href=""><div class="item"><div><i class="icongoogle"></i></div></div></a>  
                    </section> 
                  </div>
                </div>                
                <div class="col-sm-8">
                    <h5>SHAWNE KLASSEN<span>- RMT - </span></h5>
                    <p class="text-justify">“Pain is the body’s way of telling us that something is wrong…please pay attention.”</p>
                    <p class="text-justify">This calling into massage therapy has taken me on a tour of disciplines. Starting 20 years ago earning a massage diploma at Mount Royal College moving on to study accupressure, craniosacral therapy, Aquatic Therapy, Thai Massage and reflexology. Encompassing Each of my career path choices has helped shape my understanding of health and wellness. And, each choice has brought me into alignment with the strong, intuitive healer that I have always been. My current journey is to update my initial massage training with a 2200 hour orthopedic massage diploma hopefully finishing by the end of the summer.</p>
                    <p class="text-justify">My style of bodywork can integrate elements from several traditions, including Swedish, Thai, shiatsu, deep tissue, and myofascial release. The goal in our session is to find the right balance that will offer you therapeutic and restorative relaxation. That is the work; that is the journey.</p>
                </div><!--/col-sm-10 end-->                
            </div><!--/row end-->
        </div><!--/staff end--> 
    </div><!--/row end one column end-->

    <div class="row"><!--one column--> 
        <div class="staff paddingbottom1 col-sm-12">
            <div class="row">                
                <div class="col-sm-8">
                    <h5>SUSAN ERNER<span>- RMT - </span></h5>
                    <p class="text-justify">Susan is a graduate of the 2200hr program at the Professional Institute of Massage Therapy in Calgary, and the Freiburg Teaching Institute of Physical Therapy in Germany.</p>
                    <p class="text-justify">She has been a Massage Therapist since 2007 and absolutely loves sharing the healing power of Massage Therapy with her clients. She believes that Massage Therapy plays a key role in dealing with many of life’s stressors and that it is essential for long-term health and well-being. Through education, knowledge, and experience, Susan empowers her clients to achieve optimal health and overall wellness.</p>
                    <p class="text-justify">Susan spends her free time exploring the Canadian outdoors with her dog, reading, cuddling with her cats, knitting and learning new massage modalities.
                    </p>
                </div><!--/col-sm-10 end-->
                <div class="col-sm-4">
                  <div class="staffimage">
                    <img src="/assets/spa/therapist_susan.png" alt="">
                    <section class="icons">  
                       <a href=""><div class="item"><div><i class="icontwitter"></i></div></div></a>   
                       <a href=""><div class="item"><div><i class="iconfacebook"></i></div></div></a>       
                       <a href=""><div class="item"><div><i class="icongoogle"></i></div></div></a>  
                    </section> 
                  </div>
                </div>
            </div><!--/row end-->
        </div><!--/staff end--> 
    </div><!--/row end one column end--> 

    <div class="row"><!--one column--> 
        <div class="staff paddingbottom1 col-sm-12">
            <div class="row">
                <div class="col-sm-4">
                  <div class="staffimage">
                    <img src="/assets/spa/therapist_melissa.jpg" alt="">
                    <section class="icons">  
                       <a href=""><div class="item"><div><i class="icontwitter"></i></div></div></a>   
                       <a href=""><div class="item"><div><i class="iconfacebook"></i></div></div></a>       
                       <a href=""><div class="item"><div><i class="icongoogle"></i></div></div></a>  
                    </section> 
                  </div>
                </div>                
                <div class="col-sm-8">
                    <h5>MELISSA PIERSON<span>- RMT - </span></h5>
                    <p class="text-justify">Melissa Pierson graduated in 2009 from the 2,200 hour program at CCMH Foothills College of Massage Therapy with honors and was chosen to be the class valedictorian. Her course focused on anatomy and physiology, pathology, advanced massage treatments, pharmacology, hydrotherapy, and biomechanics.</p>
                    <p class="text-justify">In 2011, Melissa published an award winning case study in the International Journal of Therapeutic Massage and Bodywork on the effects of massage therapy on TMJ dysfunction symptoms. Melissa enjoys treating a wide range of conditions with the skills she has obtained in therapeutic and relaxation massage and structures treatment plans specific to each patient’s needs.</p>
                    <p class="text-justify">Melissa is passionate about creativity, music, physical fitness, and spending time with her daughter and husband.</p>
                </div><!--/col-sm-10 end-->                
            </div><!--/row end-->
        </div><!--/staff end--> 
    </div><!--/row end one column end-->

    <div class="row"><!--one column--> 
        <div class="staff paddingbottom1 col-sm-12">
            <div class="row">                
                <div class="col-sm-8">
                    <h5>CLARISSA MCANDREWS<span>- RMT - </span></h5>
                    <p class="text-justify">Clarissa graduated from Mount Royal University’s 2200 hour program and worked as a full time massage therapist since. She has taken on a role as a Teaching Assistant in Mount Royal Universities Massage Therapy program. She has an ever growing passion for advancing her knowledge in the massage research community, is a strong supporter of a healthy lifestyle, the use of natural alternatives to healing ones ailments and the prevention of injury through massage. When working with clients, she believes that treatment continues at home, through the use of home care programs specifically designed for each individual. </p>
                    <p class="text-justify">Clarissa specializes in deep tissue work, sports, therapeutic, pre and postnatal treatments and relaxation massage. On a more personal level, Clarissa loves to be outdoors in her spare time, from cross country or downhill mountain biking in the summer to snowboarding in the winter.</p>
                </div><!--/col-sm-10 end-->
                <div class="col-sm-4">
                  <div class="staffimage">
                    <img src="/assets/spa/therapist_clarissa.jpg" alt="">
                    <section class="icons">  
                       <a href=""><div class="item"><div><i class="icontwitter"></i></div></div></a>   
                       <a href=""><div class="item"><div><i class="iconfacebook"></i></div></div></a>       
                       <a href=""><div class="item"><div><i class="icongoogle"></i></div></div></a>  
                    </section> 
                  </div>
                </div>
            </div><!--/row end-->
        </div><!--/staff end--> 
    </div><!--/row end one column end--> 
 

 </div><!--/container end--> 
		

</body>
</html>
