<!DOCTYPE html>
<html lang="en">

<body>

<div class="pageheadline">
	<div class="container">
		<div class="row">
			<div class="col-sm-6"> 
				<h2>Spa <span>  Waxing Services</span></h2>
			</div>

			<div class="col-sm-6"> 
				<ul class="ch-grid1">
					<li>
						<div class="ch-item ch-img-1"></div>
					</li>
					<li>
						<div class="ch-item ch-img-2"></div>
					</li>
					<li>
						<div class="ch-item ch-img-3"></div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>



<div class="container">
				
	<div class="row pad_top2"><!--/one row-->
		<div class="col-sm-12  tabinside">
			
			<div class="row">

				<div class="col-sm-3">
					<img src="/assets/spa/spa_wax1.jpg" alt="">
				</div>
				<div class="col-sm-3">
					<h5>- BROWS -</h5>
				</div>
				<div class="col-sm-4">
					<div class="row">
						<div class="col-sm-2">
							<div class="serviceprice">
								<a href="">20$</a>
							</div>							
						</div>
					</div>
				</div>

			</div><!--/row end-->

		</div><!--/col-sm-12 end--> 
	</div><!--/row end --> 
	<!--/one row end-->

	<div class="row">
		<div class="col-sm-12  tabinside">
			
			<div class="row">

				<div class="col-sm-3">
					<img src="/assets/spa/spa_wax1.jpg" alt="">
				</div>
				<div class="col-sm-3">
					<h5>- CHIN/LIP -</h5>
				</div>
				<div class="col-sm-4">
					<div class="row">
						<div class="col-sm-2">
							<div class="serviceprice">
								<a href="">15$</a>
							</div>							
						</div>
					</div>
				</div>

			</div><!--/row end-->

		</div><!--/col-sm-12 end--> 
	</div>

	<div class="row">
		<div class="col-sm-12  tabinside">
			
			<div class="row">

				<div class="col-sm-3">
					<img src="/assets/spa/spa_wax1.jpg" alt="">
				</div>
				<div class="col-sm-3">
					<h5>- BIKINI -</h5>
				</div>
				<div class="col-sm-4">
					<div class="row">
						<div class="col-sm-2">
							<div class="serviceprice">
								<a href="">35$</a>
							</div>							
						</div>
					</div>
				</div>

			</div><!--/row end-->

		</div><!--/col-sm-12 end--> 
	</div>

	<div class="row">
		<div class="col-sm-12  tabinside">
			
			<div class="row">

				<div class="col-sm-3">
					<img src="/assets/spa/spa_wax1.jpg" alt="">
				</div>
				<div class="col-sm-3">
					<h5>- BRAZILIAN -</h5>
				</div>
				<div class="col-sm-4">
					<div class="row">
						<div class="col-sm-2">
							<div class="serviceprice">
								<a href="">55$</a>
							</div>							
						</div>
					</div>
				</div>

			</div><!--/row end-->

		</div><!--/col-sm-12 end--> 
	</div>

	<div class="row">
		<div class="col-sm-12  tabinside">
			
			<div class="row">

				<div class="col-sm-3">
					<img src="/assets/spa/spa_wax1.jpg" alt="">
				</div>
				<div class="col-sm-3">
					<h5>- HALF LEG -</h5>
				</div>
				<div class="col-sm-4">
					<div class="row">
						<div class="col-sm-2">
							<div class="serviceprice">
								<a href="">40$</a>
							</div>							
						</div>
					</div>
				</div>

			</div><!--/row end-->

		</div><!--/col-sm-12 end--> 
	</div>

	<div class="row">
		<div class="col-sm-12  tabinside">
			
			<div class="row">

				<div class="col-sm-3">
					<img src="/assets/spa/spa_wax1.jpg" alt="">
				</div>
				<div class="col-sm-3">
					<h5>- FULL LEG -</h5>
				</div>
				<div class="col-sm-4">
					<div class="row">
						<div class="col-sm-2">
							<div class="serviceprice">
								<a href="">60$</a>
							</div>							
						</div>
					</div>
				</div>

			</div><!--/row end-->

		</div><!--/col-sm-12 end--> 
	</div>

	<div class="row">
		<div class="col-sm-12  tabinside">
			
			<div class="row">

				<div class="col-sm-3">
					<img src="/assets/spa/spa_wax1.jpg" alt="">
				</div>
				<div class="col-sm-3">
					<h5>- FULL LEG & BIKINI -</h5>
				</div>
				<div class="col-sm-4">
					<div class="row">
						<div class="col-sm-2">
							<div class="serviceprice">
								<a href="">85$</a>
							</div>							
						</div>
					</div>
				</div>

			</div><!--/row end-->

		</div><!--/col-sm-12 end--> 
	</div>


	<div class="row">
		<div class="col-sm-12  tabinside">
			
			<div class="row">

				<div class="col-sm-3">
					<img src="/assets/spa/spa_wax1.jpg" alt="">
				</div>
				<div class="col-sm-3">
					<h5>- CHEST/BACK -</h5>
				</div>
				<div class="col-sm-4">
					<div class="row">
						<div class="col-sm-2">
							<div class="serviceprice">
								<a href="">55$</a>
							</div>							
						</div>
					</div>
				</div>

			</div><!--/row end-->

		</div><!--/col-sm-12 end--> 
	</div>

	<div class="row">
		<div class="col-sm-12  tabinside">
			
			<div class="row">

				<div class="col-sm-3">
					<img src="/assets/spa/spa_wax1.jpg" alt="">
				</div>
				<div class="col-sm-3">
					<h5>- ARM -</h5>
				</div>
				<div class="col-sm-4">
					<div class="row">
						<div class="col-sm-2">
							<div class="serviceprice">
								<a href="">40$</a>
							</div>							
						</div>
					</div>
				</div>

			</div><!--/row end-->

		</div><!--/col-sm-12 end--> 
	</div>

	<div class="row"><!--/one row-->
		<div class="col-sm-12  tabinside">
			
			<div class="row">

				<div class="col-sm-3">
					<img src="/assets/spa/spa_wax1.jpg" alt="">
				</div>
				<div class="col-sm-3">
					<h5>- UNDER ARM -</h5>
				</div>
				<div class="col-sm-4">
					<div class="row">
						<div class="col-sm-2">
							<div class="serviceprice">
								<a href="">20$</a>
							</div>							
						</div>
					</div>
				</div>

			</div><!--/row end-->

		</div><!--/col-sm-12 end--> 
	</div><!--/row end --> 
	<!--/one row end-->

		
</div><!-- container end-->
	

</body>
</html>
