<!DOCTYPE html>
<html lang="en">

<body>

<div class="pageheadline">
    <div class="container">
        <div class="row">
            <div class="col-sm-6"> 
                <h2>YOGA<span>OUR TEACHERS</span></h2>
            </div>
            <div class="col-sm-6"> 
                <ul class="ch-grid1">
                  <li>
                      <div class="ch-item ch-img-1"></div>
                  </li>

                  <li>
                      <div class="ch-item ch-img-2"></div>
                  </li>

                  <li>
                      <div class="ch-item ch-img-3"></div>
                  </li>
                </ul>
            </div>
        </div>
    </div>
</div>



<div class="container">
    <div class="row">
        <div class="col-sm-12">
          <div class="columnheadlineabout">
            <h4><span>TEACHERS</span></h4>
          </div>
        </div>        
    </div><!--/row end--> 

    <div class="row"><!--one column--> 
        <div class="staff paddingbottom1 col-sm-12">
            <div class="row">
                <div class="col-sm-4">
                  <div class="staffimage">
                    <img src="/assets/yoga/t_maya-ruby.jpg" alt="">
                    <section class="icons">  
                       <a href=""><div class="item"><div><i class="icontwitter"></i></div></div></a>   
                       <a href=""><div class="item"><div><i class="iconfacebook"></i></div></div></a>       
                       <a href=""><div class="item"><div><i class="icongoogle"></i></div></div></a>  
                    </section> 
                  </div>
                </div>
                <div class="col-sm-8 text-justify">
                    <h5>MAYA</h5>
                    <p>Maya Sanya Posavec has been rock’n the Leela Eco Spa and Studio since 2005. She is a Trinity trained and Yoga Alliance Certified Instructor. Her unique teaching style has been cultivating since 2005 and Maya has enjoyed being an active member of the Leela community just as long! Maya’s specialty is modifying the practice for injury and she is well versed at applying the appropriate therapeutic principles of yoga to gently heal the body. </p>
                    <p>“With just the right cue, I can watch a student’s posture spring to life! It’s my passion to find the precise words and just the right way to navigate a yogi to their (ah ha!) awakening moments. I feel totally engaged when I teach, (equally) as I do when I’m in my own personal practice.”</p>
                    <p>Maya is an avid eco-activist. When she is not in the studio, Maya relishes in the positive karma created by the simplicity of raising her daughter (Ruby – picture above) with gentle tones, recycling, shopping eco-smart and gardening. On her more adventuresome side (not that parenting is not) she frequently travels and channels her energy to various eco-sustainable fronts for ocean conservation. </p>
                    <p>Her daughter Ruby, is as much a part of Leela as Maya. When Maya is busy with classes, Ruby can be seen at Leela tidying up, folding laundry or filling water. Her quiet presence is a reminder about how we all can contribute to our community in little but powerful ways.</p>
                    <p>“Yoga has taught me how to listen, to most honestly see where I’am, observe how I affect others and my environment, and then cultivate the discipline to evoke change”.</p>
                </div><!--/col-sm-10 end-->
            </div><!--/row end-->
        </div><!--/staff end--> 
    </div><!--/row end one column end--> 

    <div class="row"><!--one column--> 
        <div class="staff paddingbottom1 col-sm-12">
            <div class="row">                
                <div class="col-sm-8 text-justify">
                    <h5>SAMANTHA</h5>
                    <p>Samantha Baldwin has been delving into Yoga philosophy since she was 17. Alongside her English degree, she took as many Eastern Religion courses as the University would allow including a level 1 Sanskrit course. Her deep fascination with Hinduism and its mythology drew her to 200+ hr. Yoga Teacher Training in 2012 where she graduated from Yoga Passage in 2013.</p>
                    <p>She also has a deep passion for working with moms, babies and all things relating to birth. She received her birth and post-partum doula training in 2003 and was certified as a prenatal and post-natal yoga teacher in 2014. She has also deepened her overall personal yoga practice as well as her teaching practice in 2014 by becoming a certified Yoga Nidra teacher.</p>
                    <p>Her classes often include Crystal Tones’ Crystal Healing Bowls as well as Young Living oils. She is an explorer of the unseen and her curiosity and exploration makes each class an inner adventure.</p>
                    <p>Can’t wait to see you on the mat! Hari Om Tat Sat.</p>
                </div><!--/col-sm-10 end-->
                <div class="col-sm-4">
                  <div class="staffimage">
                    <img src="/assets/yoga/t_samantha_baldwin.png" alt="">
                    <section class="icons">  
                       <a href=""><div class="item"><div><i class="icontwitter"></i></div></div></a>   
                       <a href=""><div class="item"><div><i class="iconfacebook"></i></div></div></a>       
                       <a href=""><div class="item"><div><i class="icongoogle"></i></div></div></a>  
                    </section> 
                  </div>
                </div>
            </div><!--/row end-->
        </div><!--/staff end--> 
    </div><!--/row end one column end--> 

    <div class="row"><!--one column--> 
        <div class="staff paddingbottom1 col-sm-12">
            <div class="row">
                <div class="col-sm-4">
                  <div class="staffimage">
                    <img src="/assets/yoga/t_sarah.jpg" alt="">
                    <section class="icons">  
                       <a href=""><div class="item"><div><i class="icontwitter"></i></div></div></a>   
                       <a href=""><div class="item"><div><i class="iconfacebook"></i></div></div></a>       
                       <a href=""><div class="item"><div><i class="icongoogle"></i></div></div></a>  
                    </section> 
                  </div>
                </div>                
                <div class="col-sm-8 text-justify">
                    <h5>SARAH</h5>
                    <p>I am a political scientist; art historian; PR professional with the Bad Girls Club YYC; world traveler; Etch-A-Sketch Artist; a unique individual with an authentic personality (yes, that’s right, an Etch-A-Sketch Artist). I am fairly new to teaching physical asana but certainly not a stranger to yoga. Yoga is life. I had my world literally flipped upside down in 2012 after going on a yoga retreat to Costa Rica with teacher Alice Hong (The trip ended with a bungee jumping off a bridge into a river. Since then, I can say inversions are easy). Costa Rica is a turning point in both my personal and spiritual practice. Shortly after returning from Costa Rica I was approached by my long time mentors and teachers, Lisa Whitford and Curran Watts, to take a teacher training with Define Yoga in Brazil, 2013. I have had an undeniable calling towards becoming a yoga teacher – it is just about time I answered the call. I like to combine colorful analogies with physical movement in a practice that is both yin and yang; fun and accessible to everyone.</p>
                </div><!--/col-sm-10 end-->                
            </div><!--/row end-->
        </div><!--/staff end--> 
    </div><!--/row end one column end-->

    <div class="row"><!--one column--> 
        <div class="staff paddingbottom1 col-sm-12">
            <div class="row">                
                <div class="col-sm-8 text-justify">
                    <h5>BRANDY</h5>
                    <p>Brandy has been practicing yoga for more than a decade, exploring a variety of yoga styles, including Iyengar, Hatha, and Ashtanga. By focusing on alignment within the postures and using props to modify the practice, Brandy leads a gentle yoga class that is accessible for everyone and every body – regardless of level of experience, previous injuries or current abilities.</p>
                    <p>Brandy completed her Yoga Teacher Training at Yoga Passage in 2009. She completed her first Pre- and Postnatal Yoga Teacher course while eight months pregnant with her daughter, in August 2011, and her second in March and April 2012.</p>
                    <p>As a new mom herself, Brandy knows just how important a regular yoga practice can be to support your journey through motherhood – from pre-conception throughout baby’s first years. Yoga provides some time to reconnect with your body, relax the mind and quiet anxious or stressful thoughts, and to nurture both yourself and your baby-to-be.</p>
                </div><!--/col-sm-10 end-->
                <div class="col-sm-4">
                  <div class="staffimage">
                    <img src="/assets/yoga/t_brandy.jpg" alt="">
                    <section class="icons">  
                       <a href=""><div class="item"><div><i class="icontwitter"></i></div></div></a>   
                       <a href=""><div class="item"><div><i class="iconfacebook"></i></div></div></a>       
                       <a href=""><div class="item"><div><i class="icongoogle"></i></div></div></a>  
                    </section> 
                  </div>
                </div>
            </div><!--/row end-->
        </div><!--/staff end--> 
    </div><!--/row end one column end--> 

    <div class="row"><!--one column--> 
        <div class="staff paddingbottom1 col-sm-12">
            <div class="row">
                <div class="col-sm-4">
                  <div class="staffimage">
                    <img src="/assets/yoga/t_jo-anne.png" alt="">
                    <section class="icons">  
                       <a href=""><div class="item"><div><i class="icontwitter"></i></div></div></a>   
                       <a href=""><div class="item"><div><i class="iconfacebook"></i></div></div></a>       
                       <a href=""><div class="item"><div><i class="icongoogle"></i></div></div></a>  
                    </section> 
                  </div>
                </div>                
                <div class="col-sm-8 text-justify">
                    <h5>JO-ANNE</h5>
                    <p>My very first yoga class was at Leela. I started practicing yoga when a friend of mine was diagnosed with cancer and I was looking for a way to cope. At first I didn’t know what to expect. Being plus size there were no classes designed for people like me, but it only took a few classes, the most amazing teachers and I was hooked.</p>
                    <p>A couple of years after starting my practice I took my yoga teacher training in Nelson and graduated in May of 2012. It’s been an incredible journey.  Yoga has taught me a lot.  Two things I believe in my heart is there is no problem that can’t be solved if you are will to go to your mat and be still,  or there is option B spend a minimum of 10 minutes hanging out in a hammock.</p>
                    <p>I believe everyone can do yoga…it’s not about touching your toes it’s about what you learn on the way down.  Creating PS(Plus Size)I love yoga continues to be a labour of love for me.</p>
                    <p>Don’t worry if you fall – your mat will catch you. I’ll see you there!</p>
                </div><!--/col-sm-10 end-->                
            </div><!--/row end-->
        </div><!--/staff end--> 
    </div><!--/row end one column end-->

    <div class="row"><!--one column--> 
        <div class="staff paddingbottom1 col-sm-12">
            <div class="row">                
                <div class="col-sm-8 text-justify">
                    <h5>JESSICA</h5>
                    <p>Well, to start, Bridgeland is my hood! This neighbourhood is near and dear to my heart so it means the world to me that I get to work where I live.</p>
                    <p>If we haven’t met yet, my name is Jessica and I teach yoga here. This studio was actually the first place I ever practiced and then became the first place I ever taught. Back then, I was working the desk to supplement my teaching, but now (5 years later) I have expanded as a teacher to teach at four studios, a couple of gyms and corporate locations galore.</p>
                    <p>I have also been lucky enough to train and teach in New Zealand, Fiji and Indonesia! Teaching is my full-time get-up but I am certainly busy doing my Geology degree, traveling, hiking and hanging out with my cat, Kevin. See you on the mat!</p>
                </div><!--/col-sm-10 end-->
                <div class="col-sm-4">
                  <div class="staffimage">
                    <img src="/assets/yoga/t_jessica.png" alt="">
                    <section class="icons">  
                       <a href=""><div class="item"><div><i class="icontwitter"></i></div></div></a>   
                       <a href=""><div class="item"><div><i class="iconfacebook"></i></div></div></a>       
                       <a href=""><div class="item"><div><i class="icongoogle"></i></div></div></a>  
                    </section> 
                  </div>
                </div>
            </div><!--/row end-->
        </div><!--/staff end--> 
    </div><!--/row end one column end--> 

    <div class="row"><!--one column--> 
        <div class="staff paddingbottom1 col-sm-12">
            <div class="row">
                <div class="col-sm-4">
                  <div class="staffimage">
                    <img src="/assets/yoga/t_gary.png" alt="">
                    <section class="icons">  
                       <a href=""><div class="item"><div><i class="icontwitter"></i></div></div></a>   
                       <a href=""><div class="item"><div><i class="iconfacebook"></i></div></div></a>       
                       <a href=""><div class="item"><div><i class="icongoogle"></i></div></div></a>  
                    </section> 
                  </div>
                </div>                
                <div class="col-sm-8">
                    <h5>GARY</h5>
                    <p>After many years working in the Oil and Gas industrY, I decided to take my personal yoga practice to another level by undertaking the 250hr teacher training course in SeptembeR 2012 at  Yoga Passage in Calgary.</p>
                    <p>During the course it became clear that the knowledge and experience I was gaining, significantly deepened my practice and also offerED me a much more rewarding, enjoyable and fulfilling vocation than that offered in the corporate world. I first started practicing yoga in 2000 to complement a life long passion for distance running. After seeing the greater depths that yoga had to offer; physically, mentally, spiritually and philosophically, it became quite easy for me to make yoga a major part of my life. </p>
                    <p>My main interests in yoga as a practice are many – I want to ‘spread the word’ to athletes as to the many benefits that yoga can bring; I love taking time to teach people so that they can enjoy learning in a safe and supportive environment and quickly develop their own practice. I relish adding challenging elements to a practice: balances, inversions and core work, but I also love to take time to explore the asanas fully, in hatha, yin and restorative sequences and further into nidra and meditation.</p>
                    <p>Hopefully I can share a practice with you in the very near future!</p>
                </div><!--/col-sm-10 end-->                
            </div><!--/row end-->
        </div><!--/staff end--> 
    </div><!--/row end one column end-->


 </div><!--/container end--> 
		

</body>
</html>
