<!DOCTYPE html>
<html lang="en">

<body>

<div class="pageheadline">
	<div class="container">
		<div class="row">
			<div class="col-sm-6"> 
				<h2>Yoga<span>Little Happies</span></h2>
			</div>

			<div class="col-sm-6"> 
				<ul class="ch-grid1">
					<li>
						<div class="ch-item ch-img-1"></div>
					</li>
					<li>
						<div class="ch-item ch-img-2"></div>
					</li>
					<li>
						<div class="ch-item ch-img-3"></div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>


<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div class="columnheadlineabout2">
				<h4><span> Little Happies</span></h4>
				<p>Leela is proud to host <b>LITTLE HIPPIES</b> at our yoga studio! Little Hippies hosts yoga classes for kids 2-9 years of age.</p>
			</div>
		</div>
	</div>
</div>


<div class="container">
				
	<div class="row pad_top2"><!--/one row-->
		<div class="col-sm-12">
			
			<div class="row underline_dotted">

				<div class="col-sm-3">
					<img src="/assets/yoga/little_happy2.jpg" alt="">
				</div>
				<div class="col-sm-9">
					<h4>TIMINGS</h4>
					<div class="row">
						<div class="col-sm-3">
							<h5>- MONDAY -</h5>
						</div>
						<div class="col-sm-9">
							<h5> 9am-11am: PlaYoga (2-5) </h5>
						</div>				
					</div>
					<div class="row">
						<div class="col-sm-3">
							<h5>- TUESDAY -</h5>
						</div>
						<div class="col-sm-9">
							<h5> 9am-11am: PlaYoga (2-5) </h5>
						</div>				
					</div>
					<div class="row">
						<div class="col-sm-3">
							<h5>- WEDNESDAY -</h5>
						</div>
						<div class="col-sm-9">
							<h5> 9am-11am: PlaYoga (2-5) </h5>
						</div>				
					</div>
					<div class="row">
						<div class="col-sm-3">
							<h5>- THURSDAY -</h5>
						</div>
						<div class="col-sm-9">
							<h5> 4.15pm-5.15pm: Little Yogi’s (3-6) / Little Yahoo’s (6-9) </h5>
						</div>				
					</div>
				</div>
				

			</div><!--/row end-->

		</div><!--/col-sm-12 end--> 
	</div><!--/row end --> 
	<!--/one row end-->

	

	<div class="row">
		<div class="col-sm-12">
			
			<div class="row underline_dotted">

				<div class="col-sm-3">
					<img src="/assets/yoga/little_happy1.jpg" alt="">
				</div>
				<div class="col-sm-9">
					<h4>RATES</h4>
					<div class="row">
						<div class="col-sm-3">
							<h5>- Drop in rate -</h5>
						</div>
						<div class="col-sm-9">
							<h5> $18 + GST </h5>
						</div>				
					</div>
					<div class="row">
						<div class="col-sm-3">
							<h5>- 8 week session pass -</h5>
						</div>
						<div class="col-sm-9">
							<h5> $105 + GST </h5>
						</div>				
					</div>				
					
				</div>

			</div><!--/row end-->

		</div><!--/col-sm-12 end--> 
	</div>

	<div class="row">
		<div class="col-sm-12">
			
			<div class="row underline_dotted">

				<div class="col-sm-3">
					<img src="/assets/yoga/little_happy3.jpg" alt="">
				</div>
				<div class="col-sm-9">
					<h4>For more information, visit</h4>
					<div class="row">
						<div class="col-sm-12">
							<a href="http://www.littlehippieskidsyoga.com" target="_blank"><h5>http://www.littlehippieskidsyoga.com</h5></a>
						</div>										
					</div>					
				</div>

			</div><!--/row end-->

		</div><!--/col-sm-12 end--> 
	</div>

		
</div><!-- container end-->
	

</body>
</html>
