<!DOCTYPE html>
<html lang="en">

<body>

<div class="pageheadline">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">             
                <h2>Yoga<span>Classes</span></h2>
            </div>

            <div class="col-sm-6">             
                <ul class="ch-grid1">
                  <li>
                      <div class="ch-item ch-img-1"></div>
                  </li>

                  <li>
                      <div class="ch-item ch-img-2"></div>
                  </li>

                  <li>
                      <div class="ch-item ch-img-3"></div>
                  </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="columnheadlineabout2">
        <h4><span>Classes Instruction</span></h4>
        <p>All our yoga instructors will show a basic, intermediate and advanced version of most postures, so feel free to try all our classes and decide which one works best for you!</p>
        <p><a href="/yoga-schedule"><b>Click here</b></a> for the schedule and to sign up for our classes.</p>
      </div>
    </div>
  </div>
</div>

<div class="container">

    <div class="row"><!--one column--> 
        <div class="staff1 paddingbottom1 col-sm-12">
            <div class="row">
                <div class="col-sm-4 pad_top1">                    
                      <img src="/assets/yoga/ashtanga.jpg" alt="">
                </div>

                <div class="col-sm-8 text-justify">
                <h5>ASHTANGA INSPIRED</h5>

                <p>This 75 minute class has been inspired from the Ashtanga primary series of poses; the class focus is on linking together postures with breath -creating flowing dynamic movement. The class includes the use of a focused gaze (drsti), the breath (pranayama) and the energy “locks” (bandhas) resulting in a powerful discipline for cultivating physical, mental and spiritual health. Core strengthening postures are included in every sequence. All levels of practitioners are welcome as modifications will be offered. Come join us for an exploration of self!</p>

                </div><!--/col-sm-10 end-->
            </div><!--/row end-->
        </div><!--/staff end--> 
    </div><!--/row end one column end--> 


    <div class="row"><!--one column--> 
        <div class="staff1 paddingbottom1 col-sm-12">
            <div class="row">
                <div class="col-sm-4 pad_top1">                    
                      <img src="/assets/yoga/sadhana.jpg" alt="">
                </div>

                <div class="col-sm-8 text-justify">
                <h5>SADHANA</h5>

                <p>This 1 hour session is a perfect combination of Body, Breath and Mind work. The flow is meticulously created to work for all levels of Yogis. Beginning with simple asanas and subtle yoga that release stress and tension from hidden corners of the body, this sequence moves effortlessly into breathing exercises or Pranayamas and ends beautifully with a peaceful guided meditation. A complete session to keep you going through the week.</p>
                <p>The Asanas, Pranayamas and Meditation will vary each week. </p>
                <p>BREATH * MEDITATE * LIVE</p>

                </div><!--/col-sm-10 end-->
            </div><!--/row end-->
        </div><!--/staff end--> 
    </div><!--/row end one column end-->

    <div class="row"><!--one column--> 
        <div class="staff1 paddingbottom1 col-sm-12">
            <div class="row">
                <div class="col-sm-4 pad_top1">                    
                      <img src="/assets/yoga/ashtanga.jpg" alt="">
                </div>

                <div class="col-sm-8 text-justify">
                <h5>RISE & SHINE</h5>

                <p>What better way to start your day?! This class is designed get your body moving and leaves you ready for your day. This yoga practice focuses on stretching, strengthening and inner awareness as well as a focus on breath work. You will leave energized and ready to start your day!</p>

                </div><!--/col-sm-10 end-->
            </div><!--/row end-->
        </div><!--/staff end--> 
    </div><!--/row end one column end-->

    <div class="row"><!--one column--> 
        <div class="staff1 paddingbottom1 col-sm-12">
            <div class="row">
                <div class="col-sm-4 pad_top1">                    
                      <img src="/assets/yoga/ashtanga.jpg" alt="">
                </div>

                <div class="col-sm-8 text-justify">
                <h5>RESTORATIVE YOGA</h5>

                <p>Do you have difficulties falling asleep at night due to an overactive mind? Are you feeling stiff in your muscles and compressed in your spine and joints? Come join us in long, slow holds in postures that draw length into your spine, hamstrings, hip flexors as well as connective tissues. Develop deep core muscles that support the spine and pelvis while at the same time taking your mind to the centre of calm sensations. The reflective class welcomes all levels and experiences.</p>
                <p>In restorative yoga, props such as bolsters and blankets are used to fully support the body, allowing it to open slowly and naturally with no effort. Concentration is on the breath, allowing for a deep introspective class which restores energy to the body and calmness to the mind.</p>
                <p>There will be no music in this class.</p>

                </div><!--/col-sm-10 end-->
            </div><!--/row end-->
        </div><!--/staff end--> 
    </div><!--/row end one column end-->

    <div class="row"><!--one column--> 
        <div class="staff1 paddingbottom1 col-sm-12">
            <div class="row">
                <div class="col-sm-4 pad_top1">                    
                      <img src="/assets/yoga/ashtanga.jpg" alt="">
                </div>

                <div class="col-sm-8 text-justify">
                <h5>CORE POWER</h5>

                <p>This powerful class will challenge you to use your core muscle strength to create the foundation to support your growing practice. Dynamic yoga postures and core strengthening moves will guide this high energy class. Some experience necessary as there will be exploration into more challenging sequences and postures. This class will have music.</p>

                </div><!--/col-sm-10 end-->
            </div><!--/row end-->
        </div><!--/staff end--> 
    </div><!--/row end one column end--> 

    <div class="row"><!--one column--> 
        <div class="staff1 paddingbottom1 col-sm-12">
            <div class="row">
                <div class="col-sm-4 pad_top1">                    
                      <img class="image-responsive" src="/assets/yoga/ashtanga.jpg" alt="">
                </div>

                <div class="col-sm-8 text-justify">
                <h5>CRITICAL FLOW</h5>

                <p>Explore your practice with a fine-tuned focus on the alignment of postures. A mix of flowing sequences and longer-held poses will leave you feeling balanced and mindful. Music: upbeat rhythms</p>

                </div><!--/col-sm-10 end-->
            </div><!--/row end-->
        </div><!--/staff end--> 
    </div><!--/row end one column end-->

    <div class="row"><!--one column--> 
        <div class="staff1 paddingbottom1 col-sm-12">
            <div class="row">
                <div class="col-sm-4 pad_top1">                    
                      <img class="image-responsive" src="/assets/yoga/ashtanga.jpg" alt="">
                </div>

                <div class="col-sm-8 text-justify">
                <h5>DISCOVER YOGA</h5>

                <p>These classes are designed to introduce you to the basics and a great continuation of your yoga practice. Learn the breathing techniques and foundation principles which will transform your yoga workout into a full Zen experience. By teaching you how to modify your practice and master your breath, these classes will open you to feeling relaxed and confident. Upon completion you will feel comfortable to go to any class anywhere and feel fine! These classes will have gentle music (except on Saturdays).</p>

                </div><!--/col-sm-10 end-->
            </div><!--/row end-->
        </div><!--/staff end--> 
    </div><!--/row end one column end-->

    <div class="row"><!--one column--> 
        <div class="staff1 paddingbottom1 col-sm-12">
            <div class="row">
                <div class="col-sm-4 pad_top1">                    
                      <img class="image-responsive" src="/assets/yoga/ashtanga.jpg" alt="">
                </div>

                <div class="col-sm-8 text-justify">
                <h5>VINYASA FLOW</h5>

                <p>A Vinyasa class is both a great place to start and to continue challenging yourself. Many of these classes will have the option to get into more advanced poses including inversions. These classes will vary each night with each instructor – Wednesday & Saturday will be Ashtanga (sequence) based and Monday, Tuesday & Thursday will be different each time.</p>
                <p>This dynamic class is designed to bring incredible strength, flexibility and endurance to the body and a sense of stillness to the mind. This class will teach the fundamentals of sun salutations, ujjayi breath, energy locks and vinyasas as you learn to connect your breath with movement.</p>
                <p>Each instructor has a different style so try out each one to find your favourite. Read their bios here to learn more about their personal story and style.</p>

                </div><!--/col-sm-10 end-->
            </div><!--/row end-->
        </div><!--/staff end--> 
    </div><!--/row end one column end-->
    <div class="row"><!--one column--> 
        <div class="staff1 paddingbottom1 col-sm-12">
            <div class="row">
                <div class="col-sm-4 pad_top1">                    
                      <img class="image-responsive" src="/assets/yoga/ashtanga.jpg" alt="">
                </div>

                <div class="col-sm-8 text-justify">
                <h5>KARMA YOGA</h5>

                <p>This class is all about giving back. Our wonderful teachers are volunteering their time to teach an all levels class. This is a donation class and we ask for a minimum donation of $2. Twice a year we will choose a charity to donate the proceeds to.</p>

                </div><!--/col-sm-10 end-->
            </div><!--/row end-->
        </div><!--/staff end--> 
    </div><!--/row end one column end-->

    <div class="row"><!--one column--> 
        <div class="staff1 paddingbottom1 col-sm-12">
            <div class="row">
                <div class="col-sm-4 pad_top1">                    
                      <img class="image-responsive" src="/assets/yoga/ashtanga.jpg" alt="">
                </div>

                <div class="col-sm-8 text-justify">
                <h5>YIN</h5>

                <p>This slow, meditative class will quietly stretch out areas of the body that have gathered tension throughout the day. Long holds and deep stretches allow the body to completely relax and lengthen. This class is a great way to unwind and reconnect with your breath.</p>

                </div><!--/col-sm-10 end-->
            </div><!--/row end-->
        </div><!--/staff end--> 
    </div><!--/row end one column end-->

    <div class="row"><!--one column--> 
        <div class="staff1 paddingbottom1 col-sm-12">
            <div class="row">
                <div class="col-sm-4 pad_top1">                    
                      <img class="image-responsive" src="/assets/yoga/ashtanga.jpg" alt="">
                </div>

                <div class="col-sm-8 text-justify">
                <h5>PS – I LOVE YOGA</h5>

                <p>This gentle class is designed for the curvy plus sized yogi. Here you will learn in a safe and comfortable environment how to explore all aspects of yoga. These classes with include meditation, breath work and asana (postures). The use of props and modifications are implemented so that you learn to work with your body instead of against it.</p>

                </div><!--/col-sm-10 end-->
            </div><!--/row end-->
        </div><!--/staff end--> 
    </div><!--/row end one column end-->

    <div class="row"><!--one column--> 
        <div class="staff1 paddingbottom1 col-sm-12">
            <div class="row">
                <div class="col-sm-4 pad_top1">                    
                      <img class="image-responsive" src="/assets/yoga/ashtanga.jpg" alt="">
                </div>

                <div class="col-sm-8 text-justify">
                <h5>YIN YANG</h5>

                <p>Bring balance and openness to tight places. The first half of the class heats the body with sun salutations & opening postures. The second half cools the body with long holds and deep stretches. Expect a focus on one part of the body each class and to feel a big difference afterwards! Music: mellow beats.</p>

                </div><!--/col-sm-10 end-->
            </div><!--/row end-->
        </div><!--/staff end--> 
    </div><!--/row end one column end-->


 </div><!--/container end--> 
		

</body>
</html>
