<!DOCTYPE html>
<html>
<head>
  <title>Leela</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>


    <meta charset="utf-8">

    <title>Lotus - Spa & Wellness HTML Responsive Template</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

  <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

<link href='http://fonts.googleapis.com/css?family=Rouge+Script' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>


<link rel="stylesheet" href="/assets/bootstrap.css">
<link rel="stylesheet" href="/assets/bootstrap.min.css">
<link rel="stylesheet" href="/assets/style.css">
<link rel="stylesheet" href="/assets/media.css">
<link rel="stylesheet" media="screen" href="/assets/sequencejs-theme.modern-slide-in.css" />
<link rel="stylesheet" media="screen" href="/assets/flexslider.css" />
<link rel="stylesheet" media="screen" href="/assets/magnific_popup.css" />
<link rel="stylesheet" media="screen" href="/assets/camera.css" />
<link rel="stylesheet" media="screen" href="/assets/bxslider.css" />
		
</head>
<body>
	<header class="sliderbg">
		<div class="phone">
			<p>Contact Phone: +99 403 258 3268</p>
		</div>
	</header>

	    <!-- menu -->
    <div class="container">
    <nav class="navbar row">

      <a class="navbar-brand" href="/">
        <img src="/assets/logo.jpg" alt="Logo"/>
      </a>

      <div class="navbar-header">
        <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse" type="button">
          <span class="sr-only"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="collapse right navbar-collapse navbar-ex1-collapse"> 
        <div class="cl-effect-12">
          <ul class="nav navbar-nav pull-right">
            <li><a href="/">Home</a>
            <!-- <li class="dropdown"><a class="dropdownhover" href="/">Home</a>
              <ul>
                <li><a href="/">Home Parallax</a></li>
                <li><a href="/index2">Home Parallax2</a></li>
                <li><a href="/index3">Home Camera</a></li>
                <li><a href="/index4">Home Flex Slider</a></li>
               
              </ul>

            </li> -->
            
            <li class="dropdown"><a class="dropdownhover" href="/massages">Spa</a>
              <ul>
                  <li><a href="/massages">MASSAGES</a></li>
                  <li><a href="/esthetics">ESTHETICS</a></li>
                  <li><a href="/waxing">WAXING</a></li>
                  <li><a href="/therapist">OUR THERAPISTS</a></li>
                  <li><a href="/esthetician">OUR ESTHETICIANS</a></li>
              </ul> 

           </li>
           <li class="dropdown"><a class="dropdownhover" href="/yoga-classes">Yoga</a>
              <ul>
                  <li><a href="/yoga-classes">YOGA CLASSES</a></li>
                  <li><a href="/yoga-schedule">YOGA SCHEDULE</a></li>
                  <li><a href="/little-happies">LITTLE HIPPIES</a></li>
                  <li><a href="/our-yogis">OUR TEACHERS</a></li>
              </ul> 
           </li>
             <li class="dropdown"><a class="dropdownhover" href="/blog">Natural Medicine</a>
              <ul>
                  <li><a href="/acupuncture">ACUPUNCTURE & TCM</a></li>
                  <li><a href="/medical-intuitive-healing">MEDICAL INTUITIVE HEALING</a></li>
                  <li><a href="/nutritional-wellness">NUTRITIONAL WELLNESS</a></li>
                  <li><a href="/our-practitioners">OUR PRACTITIONERS</a></li>
              </ul> 
           </li>
           <li class="dropdown"><a class="dropdownhover" href="/about">About</a>
              <ul>
                  <li><a href="/about">WHY LEELA?</a></li>
                  <li><a href="/about2">GALLERY</a></li>
                  <li><a href="/about">DIRECTIONS AND CONTACT</a></li>
                  <li><a href="/about2">PRIVACY POLICY</a></li>
              </ul>           
           </li>
            <li><a href="/contact">Contact</a>           
          
          </ul>
        </div>
      </div>
    </nav>
 </div>
    <!-- menu end -->

<%= yield %>

  

<footer class="footer">

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="footerheadline">
                    <h4>Testimonials</h4>
                </div>

                <div class="testimonial">
                    <p class="testimonialbg">
                    "Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut 
                    laoreet dolore magna. "
                    </p>
                    <p  class="testimonialname">John Doe</p>
                </div>

                    <p class="testimonialbg">
                    "Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut 
                    laoreet dolore magna. "
                    </p>
                    <p  class="testimonialname">John Doe</p>
            </div>


            <div class="col-sm-4">
              <div class="footerheadline">
                  <h4>Latest Tweets</h4>
              </div>
              <div class="twitterwrapper">
                  <img class="twitterbird" src="/assets/twitterbird.png" alt=""/>
                  <div class="twitter" id="example1"></div>
              </div>
            </div>

            <div class="col-sm-4">
                <div class="footerheadline">
                    <h4>Tag Cloud</h4>
                </div>

                <p class="blogtags">
                <span><a href="#">Beauty</a></span>
                <span><a href="#">Spa</a></span>  
                <span><a href="#">Wellness</a></span>
                <span><a href="#">Terapy</a></span>
                <span><a href="#">Massage</a></span>  
                <span><a href="#">Paraffin</a></span>
                <span><a href="#">Beauty</a></span>                 
                <span><a href="#">Wellness</a></span>       
                </p>

                <div class="footerheadline1">
                    <h4>Newsletters</h4>
                    <p>Lorem ipsum dolor sit amet</p>
                </div>


                <div class="subscribefieldwrapper"><!--/subscribe-form--> 
                    <form method="post" action="submit.php">
                      <div>
              
                <div id="main1">
                <p>
            <input type="text" placeholder="enter your email..." name="email" id="email1" class="subscribefield" />
                </p>
                <p>
            <input type="submit"  name="submit"  id="subscribe" value="Send" class="buttonsubscribe"/>
                </p>
            <ul id="response1"></ul>              

                </div>
                    </div>
                    </form>
                </div><!--/subscribe-form-end--> 

            </div>

        </div>
    </div> 
</footer> 


<div class="bottom"> 

 <div class="container"> 
 <div class="row"> 
<section class="icons col-sm-4">  
   <a href=""><div class="item"><div><i class="icontwitter"></i></div></div></a>   
  <a href="http://www.facebook.com/pages/Rayoflight/408688349185439"><div class="item"><div><i class="iconfacebook"></i></div></div></a>       
  <a href=""><div class="item"><div><i class="icongoogle"></i></div></div></a>  
 <a href=""><div class="item"><div><i class="iconrss"></i></div></div></a>  
 <a href=""><div class="item"><div><i class="iconskype"></i></div></div></a>  
  <a href=""><div class="item"><div><i class="iconyoutube"></i></div></div></a>  
 
</section> 


<section class="col-sm-4 copyright">  
<p>&copy; 2015 <a href="http://www.leelaecospa.ca/">Leela Eco Spa</a> All rights reserved.</p>
</section> 


<section class="col-sm-4">  
<a href="javascript:scrollToTop()" title="top of page"><div class="topofpage"></div></a>
</section> 

 </div> </div>


</div> 



<script src="/assets/jquery.js"></script><!--jquery script-->
<script src="/assets/jquery-migrate.js"></script><!--jquery script-->
<script src="/assets/bootstrap.js"></script>		
<script src="/assets/imagesloaded.js"></script>		
<script src="/assets/isotope.js"></script>	
<script src="/assets/flexslider.js"></script>	
<script src="/assets/scriptcontact.js"></script>
<script src="/assets/scriptsubmit.js"></script>	
<script src="/assets/magnific_popup.js"></script>	
<script src="/assets/jquery.sequence.js"></script>	
<script src="/assets/jquery.bxslider.js"></script>	
<script src="/assets/camera.js"></script>	
<script src="/assets/jquery.ba-hashchange.min.js"></script>		
<script src="/assets/jquery.ui.widget.js"></script>	
<script src="/assets/jquery.easing.js"></script>
<script src="/assets/twitter.js"></script>		
<script src="/assets/scripts.js"></script>	
</body>
</html>
