<!DOCTYPE html>
<html>
<head>
  <title>Leela</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>


    <meta charset="utf-8">

    <title>Lotus - Spa & Wellness HTML Responsive Template</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

  <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

<link href='http://fonts.googleapis.com/css?family=Rouge+Script' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>


<link rel="stylesheet" href="/assets/bootstrap.css">
<link rel="stylesheet" href="/assets/bootstrap-responsive.css">
<link rel="stylesheet" href="/assets/style.css">
<link rel="stylesheet" href="/assets/media.css">
<link rel="stylesheet" media="screen" href="/assets/sequencejs-theme.modern-slide-in.css" />
<link rel="stylesheet" media="screen" href="/assets/flexslider.css" />
<link rel="stylesheet" media="screen" href="/assets/magnific_popup.css" />
<link rel="stylesheet" media="screen" href="/assets/camera.css" />
<link rel="stylesheet" media="screen" href="/assets/bxslider.css" />
		
</head>
<body>
	<header class="sliderbg">
		<div class="phone">
			<p>Contact Phone: +99 861 440 210</p>
		</div>
	</header>

	    <!-- menu -->
    <div class="container">
    <nav class="navbar row">

      <a class="navbar-brand" href="#">
        <img src="/assets/logo.png" alt=""/>
      </a>

      <div class="navbar-header">
        <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse" type="button">
          <span class="sr-only"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="collapse right navbar-collapse navbar-ex1-collapse"> 
        <div class="cl-effect-12">
          <ul class="nav navbar-nav pull-right">
            <li class="dropdown"><a class="dropdownhover" href="/">Home</a>
              <ul>
                <li><a href="/">Home Parallax</a></li>
                <li><a href="/index2">Home Parallax2</a></li>
                <li><a href="/index3">Home Camera</a></li>
                <li><a href="/index4">Home Flex Slider</a></li>
               
              </ul>

            </li>
            <li class="dropdown"><a class="dropdownhover" href="/about">About</a>
              <ul>
                <li><a href="/about">About Us</a></li>
                <li><a href="/about2">About Us 2</a></li>
             </ul>           
           </li>
            <li class="dropdown"><a class="dropdownhover" href="/services">Pages</a>
              <ul>
                <li><a href="/services">Services</a></li>
                <li><a href="/special">Special</a></li>
             </ul> 

           </li>
           <li class="dropdown"><a class="dropdownhover" href="/gallery1">Portfolio</a>
              <ul>
                <li><a href="/gallery1">Gallery 1</a></li>
                <li><a href="/gallery2">Gallery 2</a></li>
             </ul> 
           </li>
             <li class="dropdown"><a class="dropdownhover" href="/blog">Blog</a>
              <ul>
                <li><a href="/blog">Blog index</a></li>
                <li><a href="/blogdetails">Blog post</a></li>
             </ul> 
           </li>
            <li><a href="/contact">Contact</a>           
          
          </ul>
        </div>
      </div>
    </nav>
 </div>
    <!-- menu end -->

<%= yield %>

<script src="/assets/jquery.js"></script><!--jquery script-->
<script src="/assets/jquery-migrate.js"></script><!--jquery script-->
<script src="/assets/bootstrap.js"></script>		
<script src="/assets/imagesloaded.js"></script>		
<script src="/assets/isotope.js"></script>	
<script src="/assets/flexslider.js"></script>	
<script src="/assets/scriptcontact.js"></script>
<script src="/assets/scriptsubmit.js"></script>	
<script src="/assets/magnific_popup.js"></script>	
<script src="/assets/jquery.sequence.js"></script>	
<script src="/assets/jquery.bxslider.js"></script>	
<script src="/assets/camera.js"></script>	
<script src="/assets/jquery.ba-hashchange.min.js"></script>		
<script src="/assets/jquery.ui.widget.js"></script>	
<script src="/assets/jquery.easing.js"></script>
<script src="/assets/twitter.js"></script>		
<script src="/assets/scripts.js"></script>	
</body>
</html>
